{% extends 'base.html' %}
{% load static %}


{% block title%}
Справка для бассейна в Медицинский центр МедикаФарм
{% endblock %}

{% block content %}
{% for inf in info %}

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'media/spravka095u.png' %}" class="d-block mx-lg-auto border rounded-3 shadow-lg img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Справка 095/у о временной нетрудоспособности</h1>
      <p class="lead">Справка 095-у – медицинский документ, имеющий специальную 
        форму (образец), который подтверждает временную нетрудоспособности студента.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Наименование услуги</th>
              <th scope="col">Цена, руб.</th>
            </tr>
          </thead>
          {% for pric in price %}
          <tbody>
            <tr>
              <td>{{ pric.title|linebreaks }}</td>
              <td>{{ pric.price }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="container-fluid">
            <div class="row">
              <div class="col">
                
                <img class="img-fluid rounded float-start p-3" src="{% static 'media/gsy2.jpg' %}" alt="" width="320">
                <p class="lead">
                  
                  <h2>Справка 095-у о временной нетрудоспособности</h2>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Справка 095-у – медицинский документ, 
                  имеющий специальную форму (образец), который подтверждает временную 
                  нетрудоспособности студента. Она является официальным подтверждением 
                  уважительности пропуска. За пропуск лекций, семинара или зачета 
                  студенту поставят прогул, который может негативно отразиться на 
                  его среднем балле и послужить причиной для лишения стипендии. 
                  Предъявление справки по форме 095-у гарантированно убережет от 
                  выставления прогулов. В отличие от листа нетрудоспособности, 
                  такой бланк не выдается взрослым. Он предъявляется только по 
                  месту учебы. Данную ученическую справку можно получить по болезни:

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>
                    грипп;
                  </li>
                  <li>
                    пневмония;
                  </li>
                  <li>
                    острый гастрит;
                  </li>
                  <li>
                    ангина;
                  </li>
                  <li>
                    ОРВИ;
                  </li>
                  <li>
                    ОРЗ;
                  </li>
                  <li>
                    острый отит;
                  </li>
                  <li>
                    гломерулонефрит;
                  </li>
                  <li>
                    любая другая болезнь, которая препятствует посещению занятий.
                  </li>

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Почему купить справку 095у нельзя?</h2>

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Мы не рекомендуем пользоваться услугами 
                      фирм, кто предлагает купить справку 095у. Такие компании доставляют 
                      к метро или по адресу ТОЛЬКО ФАЛЬШИВЫЕ бланки. Будьте осторожны, 
                      такие справки не проходят проверку, и в случае запросов с места 
                      учебы и прочих ведомств их никто не подтвердит, не попадайтесь 
                      мошенникам.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Мы же все наши справки вносим в базу 
                      и, в случае запросов, высылаем официальное подтверждение в деканат 
                      в случае запросов из Вузов. Сам медосмотр у нас не занимает много 
                      времени – от 15 до 30 мин. Чем рисковать и предоставлять в Вуз 
                      поддельную справку, лучше приходите к нам и за 15 мин получите 
                      официальный документ!


                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Общая информация по справке по форме 095-у</h2>
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Если Вам необходимо оформить справку 
                      о временной нетрудоспособности в Москве, то мы приглашаем Вас 
                      посетить наш медицинский центр «МедикаФарм» на м. Павелецкая.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<p><strong>Обращаем внимание! У нас нельзя 
                      купить справку 095 – наша клиника оформляет все медицинские 
                      справки официально в соответствии с действующим законодательством.</strong></p>

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Выдача справок о нетрудоспособности 
                      регулируется Министерством здравоохранения СССР.  Осенью 1980 
                      года приказом № 1030 ввели в обращение нормы первичной медицинской 
                      документации, среди которых фигурировала и форма 095/у. На протяжении 
                      без малого сорока лет положения этого нормативного акта не менялись. 
                      Они и по сей день имеют юридическую силу.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Кому понадобится оформить справку  о пропусках</h2>

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Справка о пропусках нужна детям 
                      дошкольного возраста, посещающим ясли и детсады, ученикам 
                      общеобразовательных школ и колледжей, студентам училищ, техникумов, 
                      семинаров, академий, институтов и университетов. Среди последней 
                      группы лиц (студентов) такой документ особенно востребован. 
                      Это обусловлено его непосредственным влиянием на показатели 
                      их успеваемости.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Порядок оформления справки</h2>

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Обратиться за получением справки 095-у 
                      учащийся должен при наступлении болезни или иных обстоятельств, 
                      из-за которых он не сможет посещать урок физкультуры или занятия 
                      в целом. Освобождения от занятий считается с первого дня получения 
                      документа.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;В нашем центре Вы можете оформить 
                      справку 095у после соответствующего медосмотра и установлении 
                      диагноза.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Срок, на который выдается справка</h2>

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Справка 095 формы для студентов  
                      выдается на срок до четырнадцати календарных дней с момента 
                      обращения к специалисту. После истечения этого срока он на 
                      свое усмотрение может продлить ее действие, но не более чем 
                      на шестнадцать дней. В сумме количество пропущенных дней 
                      не должно превышать тридцать. Если же возникает необходимость 
                      продолжить лечение сверх обозначенного срока, такая ситуация 
                      регламентируется другими нормативными актами и сопровождается 
                      выдачей соответствующих документов.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Чтобы получить освобождение от занятий 
                      на максимальный срок, необходимо предоставить форму 027/у.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;В случае беременности или болезней, 
                      требующих более продолжительного лечения, документ необходимо 
                      повторно оформлять каждые 30 дней по упрощенной процедуре.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Противопоказания для получения справки ф.№ 095/у</h2>

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Противопоказанием для получения 
                      справки могут быть состояние наркотического, алкогольного и 
                      прочих видов опьянения или откровенная симуляция заболевания. 
                      В остальных случаях документ выдается беспрепятственно.
                        
                </p>
              </div>
            </div>
          </div>
      </div>


    

    <!-- /END THE FEATURETTES -->
<hr class="featurette-divider">
<div class="row featurette">
<h1 class="display-4 fw-normal">Схема проезда</h1>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A32923ec50c84b444ea0967fa8cf5cf53e407a7d3aa3bea5c496b066b18a7b3fd&amp;width=1017&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
</div>
{% endfor %}


{% endblock %}