{% extends 'base.html' %}
{% load static %}


{% block title%}
Больничный лист в Медицинский центр МедикаФарм
{% endblock %}

{% block content %}
{% for inf in info %}
<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold text-body-emphasis">Больничный лист</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      В 2022 году действует порядок выдачи и оформления листков 
      нетрудоспособности в форме электронного документа 
      (Приказом Минздрава России от 23.11.2021 №1089н "Об 
      утверждении Условий и порядка формирования листков 
      нетрудоспособности в форме электронного документа и 
      выдачи листков нетрудоспособности в форме документа 
      на бумажном носителе в случаях, установленных законодательством 
      Российской Федерации"; далее - Приказ №1089н).
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Наименование услуги</th>
            <th scope="col">Цена, руб.</th>
          </tr>
        </thead>
        {% for pric in price %}
        <tbody>
          <tr>
            <td>{{ pric.title|linebreaks }}</td>
            <td>{{ pric.price }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 40vh;">
    <div class="container px-5">
      <img src="{% static 'media/bolnichny-1.jpg' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="container-fluid">
            <div class="row">
              <div class="col">

                <img class="img-fluid rounded float-start p-3" src="{% static 'media/bolnichny-2.jpg' %}" alt="" width="820">

                <p class="lead">
                  
                  <h2>Что такое электронный листок нетрудоспособности</h2>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Согласно п.6 ст.13 ФЗ от 29.12.2006 №255-ФЗ 
                  (в редакции, действующей с 1.1.2022 года), 
                  медучреждение может формировать больничный лист 
                  только в электронной форме без дублирования на бумаге. Такой бюллетень 
                  размещен в информационной системе ФСС. Работник при желании может 
                  получить от врачей выписку из указанного документа.

                    <br>&nbsp;&nbsp;&nbsp;&nbsp;ЭЛН (электронный листок нетрудоспособности 
                    или электронный больничный) является полноценным документом, имеющим 
                    ту же юридическую силу, что прежде имел традиционный бумажный больничный 
                    лист. При этом технология выдачи электронного листка нетрудоспособности
                    не предусматривает ни его распечатывания для передачи работником 
                    работодателю, ни пересылки напрямую из медицинской организации 
                    работодателю по ТКС. Все взаимодействие между заболевшим работником, 
                    медучреждением и работодателем происходит при участии ФСС через 
                    специально созданную для этого информационную систему, которая 
                    называется "Единая интегрированная информационная система «Соцстрах»". 
                    В этой системе ЭЛН (электронный листок нетрудоспособности или 
                    электронный больничный) формируются и хранятся на всех этапах работы с 
                    ними.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Как получить ЭЛН (электронный листок 
                        нетрудоспособности или электронный больничный)</h2>

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;После того, как врач закроет больничный 
                      лист, медицинская организация сформирует в ЕИИС «Соцстрах» электронный 
                      листок нетрудоспособности, и заполнит в нем свою часть. Далее 
                      работник получит от врача специальный талон, где будет указан номер 
                      ЭЛН. Собирать дополнительные подписи медработников и проставлять в 
                      больничном листе печати медучреждения не надо.


                      <div class="container ">
                        <div class="p-5 bg-light text-center rounded-3">
                          <p class="lead">
                            ВНИМАНИЕ! <br>
                            Выданный работнику талон с номером ЭЛН не является документом 
                            строгой отчетности. Передавать его работодателю не нужно. 
                            Талон не является обязательным документом для расчета и 
                            оплаты больничного. Работодатель не должен ни требовать 
                            его от работника, ни ждать, когда работник его предъявит.
                          </p>
                        </div>
                      </div>
                      
                      &nbsp;&nbsp;&nbsp;&nbsp;Если сотрудник потеряет талон, то ему 
                      придется предпринять следующие действия. Сначала зарегистрироваться 
                      на сайте госуслуг, а затем зайти в свой личный кабинет на сайте ФСС, 
                      где он сможет увидеть номер своего электронного больничного листа. 
                      С помощью этого же кабинета работник может отслеживать движение 
                      средств по бюллетеню: сумму назначенного пособия, статус выплаты и 
                      т.д.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Плюсы и минусы электронного больничного</h2>
                      
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Для страхователей переход на ЭЛН имеет несомненные плюсы.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;К ним можно отнести:
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>
                        полную защиту от оплаты поддельных больничных листов. Подлинность 
                        ЭЛН проверяет ФСС еще на этапе выдачи документа медучреждением. 
                        А значит, работодатель, запрашивая электронный больничный по 
                        номеру, предоставленному работником, получает для оплаты уже 
                        проверенный и одобренный фондом документ;
                      </li>
                      <li>
                        отсутствие необходимости хранить больничные листы и предъявлять их 
                        при проверках. Вся информация об ЭЛН всегда есть в распоряжении 
                        ФСС, который может проверить ее без участия организации. 
                        А значит, предъявлять электронные больничные листы при проверках 
                        не придется. Это подтверждается на <a target="_blank" rel="nofollow" title="сайт ФСС" href="https://fss.gov.ru/ru/fund/disabilitylist/answers/314971/314993.shtml">сайте ФСС</a>.
                      </li>
                      
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Есть удобства и для работников. 
                      Электронная форма больничного листа делает невозможной его потерю 
                      или порчу. Наконец, в ЭЛН просто не может быть ошибок в указании 
                      информации о работодателе, так как медучреждение берет все сведения 
                      из базы данных ФСС. Также к плюсам можно отнести возможность 
                      отслеживать движение выплат по электронному бюллетеню через личный 
                      кабинет.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Что касается минусов перехода на новую 
                      систему, то, пожалуй, самый существенный из них на данный момент - 
                      сложности при работе с ЭЛН, которые могут возникать из-за технических 
                      сбоев в функционировании соответствующих электронных систем. Если 
                      судить <a target="_blank" 
                                rel="nofollow" 
                                title="ФСС, ошибки в работе систем" 
                                href="https://fss.gov.ru/ru/fund/disabilitylist/answers/service_eln/index.shtml">по информации, размещенной на сайте ФСС, ошибки в работе систем достаточно оперативно устраняются.</a>
                      
                      
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Для получения больничного листа в 
                        медцентре «МедикаГрупп» необходимо:</h2>
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Обратиться в регистратуру и 
                      проконсультироваться у врача-специалиста.
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Человек, заболевший в оплачиваемом 
                      отпуске, имеет возможность продлить его на количество дней болезни, 
                      либо (с согласия руководства) на перенесение неиспользованных дней 
                      отпуска на другое время. Оформление проводится в общем порядке.


                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Что нужно для оформления 
                        больничного листа</h2>
                        <br><li>
                          Вам необходимо прийти на прием к врачу;
                        </li>
                        <li>
                          Иметь при себе паспорт, полис ОМС и СНИЛС;
                        </li>
                        <li>
                          При оформлении ваши данные сразу вносятся в базу ФСС, 
                          передаются работодателю и регистрируются на гос. услугах;
                        </li>
                        <li>
                          Иметь официальное место работы или стоять на бирже труда.
                        </li>

                        <div class="container ">
                          <div class="p-5 bg-light text-center rounded-3">
                            <p class="lead">
                              ВНИМАНИЕ! <br>
                              Больничный лист не выдается неработающим гражданам или работающим неофициально!
                            </p>
                          </div>
                        </div>
                      
                        <h2>В каких случаях могут отказать или 
                          аннулировать больничный лист</h2>
                      
                          <br><li>
                            Наша клиника не оформляет листы нетрудоспособности по травме, беременности и родам!
                          </li>
                          <li>
                            Лицам, которые не могут предоставить паспорт, СНИЛС и не могут подтвердить статус работающего гражданина;
                          </li>
                          <li>
                            Не выдаем больничные листы, для участия в судебных заседаниях;
                          </li>
                          <li>
                            Лицам, в отношении которых ведутся следственные действия;
                          </li>
                          <li>
                            Лицам, уклоняющимся от выполнения принудительных работ.
                          </li>

                          <div class="container ">
                            <div class="p-5 bg-light text-center rounded-3">
                              <p class="lead">
                                ВНИМАНИЕ! <br>
                                Если вы скрыли, что находитесь под следствием или на принудительных работах, больничный лист будет аннулирован!
                              </p>
                            </div>
                          </div>

                </p>
              </div>
            </div>
          </div>
      </div>


    

    <!-- /END THE FEATURETTES -->
<hr class="featurette-divider">
<div class="row featurette">
<h1 class="display-4 fw-normal">Схема проезда</h1>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A32923ec50c84b444ea0967fa8cf5cf53e407a7d3aa3bea5c496b066b18a7b3fd&amp;width=1017&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
</div>
{% endfor %}


{% endblock %}