{% extends 'base.html' %}
{% load static %}


{% block title%}
003-В/у в Медицинский центр МедикаФарм
{% endblock %}

{% block content %}
{% for inf in info %}
<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold text-body-emphasis">Медицинская справка для <br> ГИБДД (ГАИ) 003-В/у</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">У нас можно пройти медицинский осмотр для получения 
      бланка формы 003-В/у по приказу №1029н от 24.11.2021 г., 
      вступившего в силу 01.03.2022 г. <br> Медкомиссия займет всего 20 минут. У нас нет очередей, приехать можно как с утра, так и вечером. </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Наименование услуги</th>
            <th scope="col">Цена, руб.</th>
          </tr>
        </thead>
        {% for pric in price %}
        <tbody>
          <tr>
            <td>{{ pric.title|linebreaks }}</td>
            <td>{{ pric.price }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 40vh;">
    <div class="container px-5">
      <img src="{% static 'media/gai.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="container-fluid">
            <div class="row">
              <div class="col">
                
                <img class="img-fluid rounded float-start p-3" src="{% static 'media/gai2.webp' %}" alt="" width="420">
                <p class="lead">
                  
                  <h2>Медицинская справка ГИБДД 003-В/у</h2>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Справка ГИБДД по форме 003-В/у необходима в 
                  тех случаях, когда человек планирует получить водительское удостоверение 
                  либо поменять права, если срок их годности подошел к концу. 
                  Также она необходима тем, кто восстанавливает удостоверение, — 
                  например, после лишения, когда время наказания истекло и можно 
                  снова водить транспортные средства.

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Как происходит оформление 
                    справки для ГИБДД: особенности процедуры</h2>

                    <br>&nbsp;&nbsp;&nbsp;&nbsp;Чтобы получить водительскую медсправку, 
                    нужно прийти в клинику и подойти в регистратуру для оформления 
                    бумаг. Посетителя  вносят в единую базу и присваивают ему 
                    индивидуальный номер бланка, который нужно будет указать на 
                    Госуслугах, в случае оформления прав через них. После этого 
                    начинается сама медкомиссия, которая обычно занимает до 30 минут. 
                    Если никаких жалоб и противопоказаний нет, специалисты дают 
                    допуск и оформляют соответствующую справку. 

                    <br>&nbsp;&nbsp;&nbsp;&nbsp;1. После того, как мы вас зарегистрируем 
                    в электронной базе, вам будет выдан бланк 003 ву установленного 
                    образца. После успешного прохождения осмотров офтальмолога и 
                    терапевта, отметки этих специалистов будут внесены в вашу справку. 
                    В бланке нового образца, который используется в 2023 году, есть 
                    строчки  для отметок психиатра и нарколога. Важно понимать, что 
                    для того чтобы в автошколе/Гаи/МФЦ приняли вашу справку, печати  
                    этих специалистов нужно получить государственные- именно в 
                    диспансерах по месту жительства.

                     <br>&nbsp;&nbsp;&nbsp;&nbsp;2. Идете в наркологический (к наркологу)  
                     и психоневрологический (к психиатру) диспансеры  с полученной у 
                     нас , зарегистрированной в системе, справкой. В диспансерах 
                     проверят не состоите ли вы на учете и  доставят в нашу справку 
                     свои  печати. 

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;3.  После этого  справка полностью готова, 
                      сдаете ее в автошколу/гаи/мфц.

                      <div class="container ">
                        <div class="p-5 bg-body-tertiary rounded-3">
                          <p class="lead">
                            Будьте внимательны!  Автошкола/ГАИ/МФЦ не принимают 
                            справки с печатями психиатра и нарколога коммерческих 
                            клиник, именно этих специалистов нужно проходить только 
                            в государственных диспансерах. Иначе Вашу справку не 
                            примут и аннулируют. Сейчас массово приходят с такими 
                            справками к нам на переоформление. Все дело в новом 
                            приказе. Все, кто оформляют права, неважно по какой 
                            причине- в первый раз, замена по сроку действия, 
                            открытие категории, смена фамилии, утеряли права или 
                            были лишены, должны психиатра и нарколога пройти по 
                            месту жительства. 
                          </p>
                        </div>
                      </div>

                      <h2>Каких врачей нужно пройти</h2>
                      
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Список врачей зависит от категории. 
                      Для A и B предусмотрены только осмотры терапевта, офтальмолога,  
                      психиатра и нарколога.  Для категорий С и D  добавляются невролог 
                      с прохождением ЭЭГ и отоларинголог. Независимо от того, для какой 
                      категории нужна водительская медсправка, у нас прохождение 
                      наших специалистов не займет более 20 минут.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Сколько действует 003-В/у</h2>
                      
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Справка на права действует 12 месяцев. 
                      Есть ошибочное мнение, что справка действует столько же, сколько и 
                      сами права до необходимости очередной замены. Такая путаница обычно 
                      возникает у людей, которые впервые проходят водительскую медкомиссию. 
                      На деле документ действителен в течение года. Если потом его где-то 
                      нужно предъявлять, медкомиссию придется пройти заново. 
                      
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Вопрос-ответ по теме «Справка для ГИБДД»</h2>

                      <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              Каких врачей нужно пройти для получения справки в ГИБДД?
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                              Медосмотр на справку ГИБДД включает визиты к:

                              <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>терапевту</li>
                              <li>отоларингологу</li>
                              <li>офтальмологу</li>
                              <li>психиатру - в дисансере по месту жительства</li>
                              <li>наркологу - в дисансере по месту жительства</li>

                              <br>Главная задача этих специалистов – исключить выдачу 
                              водительского удостоверения людям, страдающим нарко- 
                              и алкогольной зависимостями, либо психически нездоровым.

                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Обязательна ли процедура Электроэнцефалографии головного мозга?
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                              <div class="container ">
                                <div class="bg-body-tertiary rounded-3">
                                  <p class="lead">
                              ЭЭГ требуется для выявления эпилепсии – заболевания, 
                              когда больной теряет создание и не может управлять 
                              транспортным средством. Такой водитель создает угрозу, 
                              как для своей жизни, так и для жизни сторонних людей.
                            </p>
                          </div>
                        </div>

                        Новые правила получения справки ГИБДД обязали проходить 
                        ЭЭГ только для тех водителей, кто собирается получить 
                        С и Д категорию. Либо в отдельных случаях на данную 
                        процедуру может направить психиатр.

                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Для чего нужна справка ГИБДД? 
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                              Данный документ необходим для оценки способности водить 
                              транспортное средство. Медосмотр выявляет наличие у 
                              человека заболеваний, которые могут быть препятствием 
                              к вождению автомобилем. После медицинской комиссии врачи 
                              составляют заключение о психическом и физическом здоровье 
                              человека.

                              Справка ГИБДД нужна в следующих случаях:

                              <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>Для зачисления в автошколу,</li>
                              <li>Для замены водительского удостоверения,</li>
                              <li>Для возврата прав,</li>
                              <li>Для открытия новых категорий,</li>
                              <li>Для получения международного удостоверения.</li>


                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapseThree">
                              Можно ли обойтись без справки?  
                            </button>
                          </h2>
                          <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                              За управление автомобилем без справки ответственность не 
                              предусмотрена, но, если в ваших правах стоит отметка об 
                              обязательном наличии такой справки, а у вас ее нет, то 
                              инспектор может запретить водить ТС и выписать штраф до 
                              15 тысяч рублей. Такие же санкции предусмотрены и для 
                              водителей, кому выписаны очки или линзы.
 
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse4">
                              Когда нужно проходить медосмотр на справку ГИБДД?  
                            </button>
                          </h2>
                          <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                              <li>Первое получение водительских прав,</li>
                              <li>Восстановление ранее изъятого или утерянного документа,</li>
                              <li>Оформление новых прав, если у старых истек срок действия,</li>
                              <li>Получение прав международного образца,</li>
                              <li>Прохождение технического осмотра (для профессиональных водителей),</li>
                              <li>Инспектор может потребовать данный документ у водителей старше 60 лет.</li>
 
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse5">
                              Справка ГИБДД для лиц с противопоказаниями:  
                            </button>
                          </h2>
                          <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                              Если Вы носите линзы или очки, то их необходимо взять на 
                              медосмотр у офтальмолога. Проблемы со зрением – не 
                              препятствие к вождению, но нужно зафиксировать факт 
                              ношения корректирующих зрение средств. Врач в справке 
                              делает отметку о том, что Вы допускаетесь к вождению в 
                              очках или линзах. 
 
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse6">
                              Почему могут запретить водить автомобиль?  
                            </button>
                          </h2>
                          <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                              Существует ряд заболеваний, при которых водителя не допускают за руль:

                              <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>Серьезное заболевание глаз</li>
                              <li>Эндокринные заболевания,</li>
                              <li>Отставание физического развития или умственная отсталость,</li>
                              <li>Патология конечности,</li>
                              <li>Проблема вестибулярного аппарата,</li>
                              <li>Серьезное заболевание сердца или сосудов,</li>
                              <li>Выраженная гипертония,</li>
                              <li>Расстройства психики,</li>
                              <li>Алко- и наркотическая зависимости.</li>

                             <br> Люди с такими заболеваниями не допускаются к вождению, или допускаются частично.

                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse7">
                              Категории и подкатегории ТС 
                            </button>
                          </h2>
                          <div id="collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                              Необходимо отметить, что в новой редакции Справки предусмотрены новые категории и подкатегории транспортных средств:

                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Категория</th>
                                    <th scope="col">Описание</th>
                                    <th scope="col">Возраст</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>«М»</td>
                                    <td>Мопеды и Квадрацыклы, объем двигателя до 50 куб.см</td>
                                    <td>с 16 лет</td>
                                  </tr>
                                  <tr>
                                    <td>«А1»</td>
                                    <td>Легкие мотоциклы , объем двигателя до 125 куб.см</td>
                                    <td>с 16 лет</td>
                                  </tr>
                                  <tr>
                                    <td>«А»</td>
                                    <td>Мотоциклы, объем двигателя свыше 125 куб.см</td>
                                    <td>с 18 лет</td>
                                  </tr>
                                  <tr>
                                    <td>«В1»</td>
                                    <td>Трициклы и Квадроциклы, объем двигателя свыше 50 куб.см</td>
                                    <td>с 18 лет</td>
                                  </tr>
                                  <tr>
                                    <td>«В»</td>
                                    <td>Легковые автомобили, полной массой до 3,5 т, пассажирских мест до 8</td>
                                    <td>с 18 лет</td>
                                  </tr>
                                  <tr>
                                    <td>«ВЕ»</td>
                                    <td>Легковые автомобили, полной массой до 3,5 т, пассажирских мест до 8</td>
                                    <td>с 18 лет</td>
                                  </tr>
                                  <tr>
                                    <td>«ТВ»</td>
                                    <td>Троллейбус</td>
                                    <td>с 21 года</td>
                                  </tr>
                                  <tr>
                                    <td>«ТМ»</td>
                                    <td>Трамвай</td>
                                    <td>с 21 года</td>
                                  </tr>
                                  <tr>
                                    <td>«С1»</td>
                                    <td>«Легкие» грузовики, грузовики с полной массой менее 7,5 т</td>
                                    <td>с 18 лет</td>
                                  </tr>
                                  <tr>
                                    <td>«С1Е»</td>
                                    <td>«Легкие» грузовики, с прицепом массой более 750 кг</td>
                                    <td>с 18 лет</td>
                                  </tr>
                                  <tr>
                                    <td>«С»</td>
                                    <td>Грузовики, грузовики с полной массой свыше 7,5 т</td>
                                    <td>с 18 лет</td>
                                  </tr>
                                  <tr>
                                    <td>«СЕ»</td>
                                    <td>Грузовики, с прицепом массой более 750 кг</td>
                                    <td>с 18 лет</td>
                                  </tr>
                                  <tr>
                                    <td>«D1»</td>
                                    <td>Малые автобусы, число сидячих мест для пассажиров от 8 до 16</td>
                                    <td>с 21 года</td>
                                  </tr>
                                  <tr>
                                    <td>«D1Е»</td>
                                    <td>Малые автобусы, с прицепом массой более 750 кг</td>
                                    <td>с 21 года</td>
                                  </tr>
                                  <tr>
                                    <td>«D»</td>
                                    <td>Автобусы, число сидячих мест для пассажиров свыше 16</td>
                                    <td>с 21 года</td>
                                  </tr>
                                  <tr>
                                    <td>«DE»</td>
                                    <td>Автобусы, с прицепом массой более 750 кг</td>
                                    <td>с 21 года</td>
                                  </tr>
                                </tbody>
                              </table>

                            </div>
                          </div>
                        </div>
                      </div>
                        
                </p>
              </div>
            </div>
          </div>
      </div>


    

    <!-- /END THE FEATURETTES -->
<hr class="featurette-divider">
<div class="row featurette">
<h1 class="display-4 fw-normal">Схема проезда</h1>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A32923ec50c84b444ea0967fa8cf5cf53e407a7d3aa3bea5c496b066b18a7b3fd&amp;width=1017&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
</div>
{% endfor %}


{% endblock %}