{% extends 'base.html' %}
{% load static %}


{% block title%}
ГИМС в Медицинский центр МедикаФарм
{% endblock %}

{% block content %}
{% for inf in info %}
<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold text-body-emphasis">Медицинская справка для <br> управления маломерным судном (ГИМС)</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Перед тем, как пройти курс обучения управления маломерным судном, 
      необходимо подтвердить состояние здоровья. Медицинская справка 
      выдается после прохождения медкомиссии, сдачи определенных 
      анализов и получения заключения квалифицированных врачей. 
      Только на основе соблюдения вышеуказанных пунктов, можно стать 
      владельцем медицинской справки, дающей право управлять маломерным судном.
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Наименование услуги</th>
            <th scope="col">Цена, руб.</th>
          </tr>
        </thead>
        {% for pric in price %}
        <tbody>
          <tr>
            <td>{{ pric.title|linebreaks }}</td>
            <td>{{ pric.price }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 40vh;">
    <div class="container px-5">
      <img src="{% static 'media/gims.jpg' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="container-fluid">
            <div class="row">
              <div class="col">
                
                <img class="img-fluid rounded float-start p-3" src="{% static 'media/gims2.jpg' %}" alt="" width="420">
                <p class="lead">
                  
                  <h2>Медицинская справка для управления маломерным судном (ГИМС)</h2>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Российская законодательная база обязывает 
                  граждан, желающих управлять маломерными судами, подтверждать 
                  отсутствие медицинских противопоказаний для такого рода деятельности. 
                  Для подтверждения необходимо оформить справку для управления 
                  маломерным судном (ГИМС). Это медицинское заключение, которое 
                  предоставляется в ГИМС – государственную инспекцию, даёт разрешение 
                  на вождение маломерных судов. Справка для ГИМС ничем не отличается 
                  от той, которая необходима для получения автомобильных прав, её 
                  выдача регулируется п. 4 Приказа Минздрава России от 15.06.2015 № 344н.

                    <br>&nbsp;&nbsp;&nbsp;&nbsp;Справка вносится в единый реестр и 
                    может понадобиться в таких случаях:
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>
                      получения первых прав на вождение водного транспорта;
                    </li>
                    <li>
                      восстановления утерянных документов;
                    </li>
                    <li>
                      восстановления прав после их изъятия.
                    </li>

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Документы, необходимые для 
                        оформления справки ГИМС</h2>
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Обязательный пакет документов, 
                      которые понадобятся для оформления справки, включает в себя 
                      паспорт, 2 фотографии 3*4 и военный билет (при наличии). 
                      В удостоверении личности обязательно должно присутствовать 
                      наличие отметки о временной или постоянной регистрации в РФ.
                      
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;При наличии иностранной прописки и 
                      желания оформить справку ГИМС медкомиссии в Москве, необходимо 
                      предоставить перевод всех страниц паспорта, заверенный у нотариуса. 
                      Наличие временной прописки в РФ – обязательно. Людям с плохим 
                      зрением рекомендовано взять с собой очки, контактные линзы или 
                      рецепт на их получение.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Медосмотр и анализы для оформления 
                        справки для управления маломерными судами</h2>
                      
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Чтобы получить бланк, необходимо 
                      пройти ряд медработников. Их посещение для получения 
                      справки ГИМС является обязательным, список четко 
                      регламентируется соответствующими нормативно-правовыми 
                      актами, он включает: 
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>
                        окулиста,
                      </li>
                      <li>
                        хирурга,
                      </li>
                      <li>
                        отоларинголога,
                      </li>
                      <li>
                        невролога,
                      </li>
                      <li>
                        терапевта.
                      </li>
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Противопоказаниями для получения документа могут стать заболевания:
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>
                        глазного аппарата;
                      </li>
                      <li>
                        ЛОР-органов;
                      </li>
                      <li>
                        сердечно-сосудистой системы;
                      </li>
                      <li>
                        верхних конечностей;
                      </li>
                      <li>
                        нервной системы.
                      </li>
                        
                </p>
              </div>
            </div>
          </div>
      </div>


    

    <!-- /END THE FEATURETTES -->
<hr class="featurette-divider">
<div class="row featurette">
<h1 class="display-4 fw-normal">Схема проезда</h1>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A32923ec50c84b444ea0967fa8cf5cf53e407a7d3aa3bea5c496b066b18a7b3fd&amp;width=1017&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
</div>
{% endfor %}


{% endblock %}