{% extends 'base.html' %}
{% load static %}


{% block title%}
Справка для путевки 070/у в Медицинский центр МедикаФарм
{% endblock %}

{% block content %}
{% for inf in info %}

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'media/082z.webp' %}" class="d-block mx-lg-auto border rounded-3 shadow-lg img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Справка 082у для выезда заграницу</h1>
      <p class="lead">Заграничные поездки сопряжены с большим 
        количеством бюрократических процедур. Оформление визы в 
        посольстве или консульстве — одна из них. Этот процесс 
        довольно утомителен, но крайне важен, поэтому к нему 
        следует отнестись со всей ответственностью.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Наименование услуги</th>
              <th scope="col">Цена, руб.</th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td>{{ price.title|linebreaks }}</td>
              <td>{{ price.price }}</td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
</div>

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="container-fluid">
            <div class="row">
              <div class="col">
                
                
                <p class="lead">
                  
                  <h2>Справка 082/у — обязательное условие</h2>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Агент дипломатического учреждения 
                  для выдачи разрешительного документа предъявит требование. 
                  Так зарубежные государства страхуются от возможных эпидемий, 
                  пандемий и других напастей, связанных с переносом вирусов, 
                  инфекций и заболеваний из-за границы. Бланк оформляется в 
                  поликлинике по месту жительства или в частном медицинском 
                  учреждении, аккредитованном для предоставления подобного 
                  рода услуг.
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Чем регулируется выдача документа?</h2>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;4 октября 1980 года Министерство 
                  здравоохранения СССР издало приказ, регламентирующий 
                  формы первичной медицинской документации. Этот 
                  нормативный акт до сих пор имеет юридическую силу. 
                  В соответствии с его положениями выдается справка 082/у.
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Форма</h2>
                  В Российской Федерации справка оформляется на бланке 
                  нестрогой отчетности. Который должен содержать паспортные 
                  данные владельца, информацию о пройденных обследованиях, 
                  заключение врачей, их печати, подписи и реквизиты 
                  медицинского учреждения, в котором выдавался документ.

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Вопрос-ответ по теме «Справка 082у для выезда заграницу»</h2>

                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Кому и для чего понадобится?
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                          Справка является обязательным условием консульств, 
                          посольств и их контрагентов, занимающихся выдачей 
                          виз. Помимо самого бланка в этих организациях 
                          могут потребовать результаты анализов на ВИЧ, 
                          сифилис, гепатит А и Б, группу крови и резус фактор. 
                          Если у вас их нет в наличии, это легко исправить. 
                          Достаточно посетить медицинский центр «МедикаФарм». 
                          Здесь их делают в кратчайшие сроки экспресс-методом на очень выгодных условиях.

                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                          Как получить?
                        </button>
                      </h2>
                      <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                          Придется пройти небольшой медосмотр. Он включает 
                          посещение терапевта, который  проводит осмотр и 
                          заполняет бланк. Проводится флюорография<br>
                          В ходе осмотра может возникнуть необходимость в 
                          проведении дополнительных исследований, таких 
                          как анализ мочи и крови на сахар. Врач назначает 
                          их на свое усмотрение.

                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                          Причины возможного отказа?
                        </button>
                      </h2>
                      <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                          Противопоказаний не так уж много, но они есть. 
                          Одни из наиболее распространенных — наличие острых 
                          респираторных недугов, болезней, передающихся 
                          половым путем и туберкулеза. Еще справку не 
                          выдадут человеку с психическими отклонениями и 
                          девиантной формой поведения (неприкрытая 
                          агрессия, припадки), наркоману и алкоголику.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                          Срок действия? 
                        </button>
                      </h2>
                      <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                          Бланк имеет юридическую силу в течение шести месяцев. 
                          По истечении этого срока его нужно будет оформлять 
                          заново. Повторное получение документа происходит 
                          по той же процедуре, что и первичное. Наличие 
                          справки с истекшим сроком годности не дает 
                          никаких привилегий владельцу при получении 
                          новой, он делает это на общих основаниях.
                        </div>
                      </div>
                    </div>
                  </div>
                      
                </p>
              </div>
            </div>
          </div>
      </div>


    

    <!-- /END THE FEATURETTES -->
<hr class="featurette-divider">
<div class="row featurette">
<h1 class="display-4 fw-normal">Схема проезда</h1>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A32923ec50c84b444ea0967fa8cf5cf53e407a7d3aa3bea5c496b066b18a7b3fd&amp;width=1017&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
</div>
{% endfor %}


{% endblock %}