{% extends 'base.html' %}
{% load static %}


{% block title%}
Санаторно-курортная карта 072/у в Медицинский центр МедикаФарм
{% endblock %}

{% block content %}
{% for inf in info %}

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'media/072y.webp' %}" class="d-block mx-lg-auto border rounded-3 shadow-lg img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Санаторно-курортная карта 072/у</h1>
      <p class="lead">Санаторно-курортная карта 072у содержит сведения о состоянии 
        здоровья отдыхающего и оформляется для определения комплекса оздоровительных 
        мероприятий с учетом его показаний и противопоказаний. Документ необходим для 
        предоставления в санаторий при заселении.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Наименование услуги</th>
              <th scope="col">Цена, руб.</th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td>{{ price.title|linebreaks }}</td>
              <td>{{ price.price }}</td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
</div>

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="container-fluid">
            <div class="row">
              <div class="col">
                
                
                <p class="lead">
                  
                  <h2>Оформить санаторно-курортную карту 072/у в Москве в клинике "МедикаФарм"</h2>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Может называться: справка 072/у, санаторно-курортная 
                  справка, медсправка 072/у, медкарта для санатория, медкарта для пансионата, 
                  карта 072-у, справка для санатория, справка для пансионата, санаторная 
                  справка, медкомиссия для санатория, медкомиссия для пансионата, 
                  санаторно-курортная медкомиссия и др.
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Санаторно-курортная справка представляет 
                  собой официальное подтверждение отсутствия у владельца патологий, 
                  дисфункций и заразных заболеваний, которые могут нести угрозу 
                  другим людям. Данный документ выдается в медицинском учреждении, 
                  аккредитованном для предоставления такого рода услуг. Это может 
                  быть как государственная поликлиника, так и частный медицинский 
                  центр. Мы приглашаем Вас оформить санаторно-курортную карту 072у в 
                  Москве в нашей клинике. Официально и без очередей.
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Министерство здравоохранения Российской 
                  Федерации обязало (приказ № 834) всех лиц, отправляющихся на 
                  санаторно-курортное лечение, удостовериться в отсутствии 
                  противопоказаний для такового и подтвердить этот факт 
                  справкой установленного образца.
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Санаторно-курортная справка 
                  (принятая форма 072/у-04) является единственным официальным 
                  документом, подтверждающим отсутствие у его хозяина 
                  противопоказаний для применения в лечении природных 
                  климатических факторов.
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Такой документ нужен всем, 
                  кто намерен направиться для прохождения обследования 
                  или терапии в санаторий.
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Противопоказания для получения санаторно-курортной карты:</h2>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Противопоказаниями для получения 
                  разрешения на поездку в санаторий может стать наличие острых 
                  инфекционных недугов, онкозаболеваний, желудочно-кишечных 
                  хворей и ряда других болезней, способных прямо или косвенно 
                  угрожать безопасности окружающих в санатории.
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Срок действия справки 072/у</h2>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Санаторно-курортная карта действует 
                  с момента оформления на протяжении двух месяцев. Действующее 
                  законодательство предписывает начинать процедуру ее получения 
                  не позднее, чем за месяц до отбытия.
                        
                </p>
              </div>
            </div>
          </div>
      </div>


    

    <!-- /END THE FEATURETTES -->
<hr class="featurette-divider">
<div class="row featurette">
<h1 class="display-4 fw-normal">Схема проезда</h1>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A32923ec50c84b444ea0967fa8cf5cf53e407a7d3aa3bea5c496b066b18a7b3fd&amp;width=1017&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
</div>
{% endfor %}


{% endblock %}