{% extends 'base.html' %}
{% load static %}


{% block title%}
Аренда Флюромобиля в Медицинский центр МедикаФарм
{% endblock %}

{% block content %}
{% for inf in info %}
<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold text-body-emphasis">Аренда флюоромобиля в Москве и <br> в Московской области</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Если пришло время провести флюорографию сотрудникам вашей компании — 
      воспользуйтесь этим самым быстрым и простым способом. Мы отправим к вам автомобиль, 
      оснащенный необходимым оборудованием и расходными материалами, с опытным специалистом. 
      Также мы помогаем коллегам: если вашей клинике нужен флюоромобиль, а своего нет, или он
       сильно загружен — воспользуйтесь нашим.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a class="btn btn-success btn-lg" href="#scrollspyHeading1" role="button">Цены</a>
      <a class="btn btn-success btn-lg" href="tel:{{ inf.phone_number }}" role="button">Забронировать</a>
      <a class="btn btn-success btn-lg" href="tel:{{ inf.phone_number }}" role="button">Отправить заявку</a>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 50vh;">
    <div class="container px-5">
      <img src="{% static 'media/fluromobil.jpg' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="900" height="500" loading="lazy">
    </div>
  </div>
</div>

  {% endfor %}

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="container-fluid">
            <div class="row">
              <div class="col">
                
                <img class="img-fluid rounded float-start p-3" src="{% static 'media/fluromobil2.jpg' %}" alt="" width="420">
                <p class="lead">
                  <h2>Флюорография</h2>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;исследование, которое должен проходить каждый 
                  взрослый человек не реже одного раза в год. Оно необходимо для предотвращения 
                  распространения туберкулёза легких. На данный момент Россия по-прежнему 
                  в списке проблемных стран по этому заболеванию, хотя ситуация постепенно улучшается.

                    <br>&nbsp;&nbsp;&nbsp;&nbsp;Помимо туберкулеза, флюорография помогает выявить:
                    <br>
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'media/logo.png' %}" 
                         alt="" 
                         width="20" 
                         height="20" 
                         class="d-inline-block align-text-top">&nbsp;&nbsp;аномалии, деформации костей;
                         <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'media/logo.png' %}" 
                         alt="" 
                         width="20" 
                         height="20" 
                         class="d-inline-block align-text-top">&nbsp;&nbsp;переломы;
                         <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'media/logo.png' %}" 
                         alt="" 
                         width="20" 
                         height="20" 
                         class="d-inline-block align-text-top">&nbsp;&nbsp;некоторые заболевания легких и сердца;
                         <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'media/logo.png' %}" 
                         alt="" 
                         width="20" 
                         height="20" 
                         class="d-inline-block align-text-top">&nbsp;&nbsp;признаки патологических процессов, требующих уточняющей диагностики.
                         <br>

                    <br>&nbsp;&nbsp;&nbsp;&nbsp;Даже элементарное профилактическое обследование 
                    может отнять много времени и ресурсов, если его нужно провести сразу у 
                    большого количества людей. Аренда флюоромобиля существенно ускоряет и 
                    упрощает этот процесс.

                     <br>&nbsp;&nbsp;&nbsp;&nbsp;Это действительно очень удобно. По сути 
                     флюоромобиль — передвижной кабинет, в котором есть всё необходимое 
                     для проведения флюорографии. Он приедет на территорию вашей 
                     организации и привезет специалиста, готового сразу приступить к 
                     обследованию вашего персонала.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Вам не нужно заниматься многими 
                      организационными вопросами. Просто оставьте заявку — и машина 
                      приедет в оговоренное время. Вам не нужно дополнительно 
                      тратиться на материалы, проявку пленок.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Это быстро. Если отправить сотрудника
                       в клинику, будет потерян рабочий день. С флюоромобилем вам 
                       не нужно устраивать такой «выходной». Работник проходит 
                       исследование и может сразу вернуться к выполнению своих 
                       обязанностей. Врач сразу видит предварительные результаты 
                       исследования на экране монитора.


                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Можно оперативно провести скрининг у 
                      большого коллектива. Аппарат способен функционировать в 
                      режиме непрерывной работы.
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Что потребуется от вас:

                      <br>
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'media/logo.png' %}" 
                           alt="" 
                           width="20" 
                           height="20" 
                           class="d-inline-block align-text-top">&nbsp;&nbsp;Флюорограф нужно подключить 
                           к источнику питания не менее 4 КВт с напряжением в сети 220В. Линия должна быть 
                           защищена автоматическим выключателем 25А.
                           <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'media/logo.png' %}" 
                           alt="" 
                           width="20" 
                           height="20" 
                           class="d-inline-block align-text-top">&nbsp;&nbsp;Если нужно оставить флюорограф 
                           на ночь, его необходимо разместить на охраняемой стоянке.
                           <br>

                           <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Помощь коллегам</h2>
                       <br>&nbsp;&nbsp;&nbsp;&nbsp;Мы предлагаем взять в аренду флюоромобиль не 
                       только организациям для обследования сотрудников, но и нашим коллегам из 
                       других клиник. Забота о здоровье людей — наше общее дело, поэтому мы всегда 
                       готовы помочь. Если у вас в клинике нет флюоромобиля, или свой сильно загружен,
                        и нужно провести выездное обследование — свяжитесь с нами.
              </div>
            </div>
          </div>
      </div>


    

    <!-- /END THE FEATURETTES -->

    <hr class="featurette-divider" id="scrollspyHeading1">
    <div class="row featurette">

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Наши цены</h1>
        <p class="fs-5 text-body-secondary">{{ description.description|linebreaks }}</p>
      </div>
<div class="container align-items-center">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Расстояние</th>
        <th scope="col">Цена, руб.</th>
      </tr>
    </thead>
    {% for pric in price %}
    <tbody>
      <tr>
        <td>{{ pric.distance }}</td>
        <td>{{ pric.price }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

</div>
<hr class="featurette-divider">
<div class="row featurette">
<h1 class="display-4 fw-normal">Схема проезда</h1>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A32923ec50c84b444ea0967fa8cf5cf53e407a7d3aa3bea5c496b066b18a7b3fd&amp;width=1017&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
</div>



{% endblock %}