{% extends 'base.html' %}
{% load static %}


{% block title%}
Рентген в Медицинский центр МедикаФарм
{% endblock %}

{% block content %}
{% for inf in info %}
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Рентген (рентгенография)</h1>
        <p class="lead">Рентгенография — диагностическая методика, основанная на применении рентгеновского излучения. При прохождении через тела разной плотности рентгеновские лучи ослабляются. Затем, попадая на специальную пленку, они образуют тени разной интенсивности.

          В настоящее время рентгенография широко применяется для диагностики повреждений опорно-двигательного аппарата, заболеваний легких, пищеварительной системы и других внутренних органов.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <!-- Button trigger modal -->
            <a class="btn btn-success btn-lg" href="#scrollspyHeading1" role="button">Цены</a>
            <a class="btn btn-success btn-lg" href="tel:{{ inf.phone_number }}" role="button">Записаться на прием</a>
  
            
          </div>  
    </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="{% static 'media/rentgen.jpg' %}" alt="" width="520">
      </div>
    </div>
  </div>

  {% endfor %}

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="container-fluid">
            <div class="row">
              <div class="col">
                
                <img class="img-fluid rounded float-start p-3" src="{% static 'media/rentgen2.jpg' %}" alt="" width="520">
                <p class="lead">
                  <h2>В каких случаях нужно делать рентген? Какие болезни это помогает диагностировать?</h1>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Рентгеновское исследование — один из самых часто 
                  используемых методов визуализации. Его применяют для диагностики 
                  самых разных заболеваний, в разных сферах медицины.

                    <br>&nbsp;&nbsp;&nbsp;&nbsp;Когда человек, который получил травму, поступает в 
                    травмпункт, первым делом врач назначит ему рентген. Исследование помогает 
                    разобраться, были ли повреждены кости и суставы, отличить переломы и вывихи 
                    от менее серьезных травм. Травматологи используют рентгенографию, чтобы проверить, 
                    насколько правильно были репонированы (сопоставлены) отломки кости, 
                    правильно ли установлены, не сместились ли спицы, винты и другие металлические конструкции.

                    <br>&nbsp;&nbsp;&nbsp;&nbsp;Врачам-стоматологам рентгенография помогает оценить 
                    состояние корня зуба и тканей, которые его окружают, челюстных костей. 
                    ЛОР-врачи применяют рентгеновские лучи, чтобы оценить состояние 
                    придаточных пазух носа. Рентгенография грудной клетки играет важную
                     роль в диагностике патологий сердца и легких.

                     <br>&nbsp;&nbsp;&nbsp;&nbsp;Часто рентгенографию применяют для диагностики 
                     заболеваний позвоночника. Она помогает выявить аномалии и травмы 
                     (переломы, подвывихи) позвонков, оценить состояние осанки, межпозвонковых
                      дисков, диагностировать сколиоз, остеохондроз и другие заболевания. 
                      Это незаменимый метод диагностики в работе врачей-неврологов, ортопедов.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Мягкие ткани видны на рентгенограммах не так 
                      хорошо, как кости. Но их можно «прокрасить» при помощи специальных 
                      рентгеноконтрастных растворов. Рентгенографию с контрастом применяют 
                      для исследования сосудов, органов пищеварительной системы, бронхов, 
                      почек и мочевого пузыря.

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Разновидности рентгена</h2>
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Первый снимок костей кисти, сделанный 
                      Вильгельмом Рентгеном, стал самой настоящей сенсацией. Врачи смогли 
                      впервые увидеть, что находится внутри тела человека, не прибегая к 
                      вскрытию. Со временем рентгенография претерпела большие изменения, 
                      её возможности сильно выросли. В современных клиниках применяют 
                      разные виды рентгенодиагностики.
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<h class="fw-bold">Рентгенография.</h> Этот метод можно назвать 
                      классическим. Через тело человека пропускают рентгеновские лучи, 
                      которые затем падают на специальную пленку. Получается 
                      рентгенограмма — изображение теней внутренних органов. 
                      Современные аппараты позволяют сохранять снимки в компьютере.
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Рентгенографию можно сочетать с <h class="fw-bold">рентгеноскопией</h>
                       — исследованием, во время которого врач наблюдает за работой органа на экране в 
                       реальном времени. Отдельные виды рентгенографии применяют для 
                       скрининга — ранней диагностики онкологических и других заболеваний. 
                       Например, флюорография помогает вовремя обнаружить патологические 
                       образования в грудной клетке, маммография — в молочной железе.
                       <br>&nbsp;&nbsp;&nbsp;&nbsp;<h class="fw-bold">Флюорография.</h> По сути 
                       это та же рентгенография легких, но технология немного отличается. 
                       Во время флюорографии на организм действует более низкая доза излучения,
                        но и качество снимков тоже ниже. Эта методика широко применяется в 
                        России для скрининга туберкулеза и опухолей легких.
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;<h class="fw-bold">Рентгенография с контрастом.</h> 
                        В организм человека вводят вещество, которое плохо пропускает 
                        рентгеновские лучи и дает на снимках тень. Контраст заполняет 
                        сосуды или внутренние органы, в результате чего на снимках 
                        контрастное вещество дает на снимках яркую тень и тем самым 
                        контурирует его стенки. Контрастный раствор можно выпить, 
                        применять в виде клизмы, ввести через специальные катетеры в 
                        бронхи, мочевой пузырь, мочеточники и почечные лоханки, 
                        жёлчные протоки и протоки поджелудочной железы, в другие 
                        органы. Отдельная разновидность рентгеноконтрастных исследований — 
                        ангиография, во время которой раствор контраста вводят в сосуды.
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;Если во время исследования особым 
                        образом перемещать источник излучения и пленку, можно получить 
                        изображение со «срезом» исследуемой части тела на разных уровнях. 
                        Такое исследование называют томографией. Во время компьютерной 
                        томографии также применяется рентгеновское излучение. При обычной 
                        рентгенографии тени органов могут накладываться друг на друга — 
                        это не совсем удобно. Во время рентгеновской томографии источник
                        излучения и пленка синхронно движутся, благодаря чему получается 
                        изображение определенного слоя тела.
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>У кого рентген не применяют?</h2>
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;Некоторым людям рентгенологические исследования противопоказаны:





                         <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'media/logo.png' %}" 
                         alt="" 
                         width="20" 
                         height="20" 
                         class="d-inline-block align-text-top">&nbsp;&nbsp;В первую очередь рентгенография 
                         противопоказана при беременности, так как рентгеновские лучи могут вызвать 
                         нежелательные мутации в клетках эмбриона. Степень риска зависит от срока 
                         беременности. Иногда врачи всё же делают исключение и назначают исследование 
                         беременной женщине. 
                         <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'media/logo.png' %}" 
                         alt="" 
                         width="20" 
                         height="20" 
                         class="d-inline-block align-text-top">&nbsp;&nbsp;Рентгенографию не проводят 
                         у пациентов, которые находятся в тяжелом состоянии, если есть серьезное 
                         кровотечение или повреждение грудной клетки с разгерметизацией плевральной полости.
                         <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'media/logo.png' %}" 
                         alt="" 
                         width="20" 
                         height="20" 
                         class="d-inline-block align-text-top">&nbsp;&nbsp;В состав растворов, которые 
                         применяют для рентгеноконтрастных исследований, входит йод. У некоторых людей 
                         он вызывает аллергические реакции. Если пациент страдает аллергией на йод, 
                         контраст вводить нельзя.
                          <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'media/logo.png' %}" 
                         alt="" 
                         width="20" 
                         height="20" 
                         class="d-inline-block align-text-top">&nbsp;&nbsp;Рентгеноконтрастные исследования
                          противопоказаны при некоторых заболеваниях щитовидной железы, тяжелых 
                          патологиях почек и печени, активном туберкулезе, декомпенсированном сахарном диабете.
                </p>
              </div>
            </div>
          </div>
      </div>


    

    <!-- /END THE FEATURETTES -->

    <hr class="featurette-divider" id="scrollspyHeading1">
    <div class="row featurette">

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Наши цены</h1>
        <p class="fs-5 text-body-secondary">Обращение в наш медцентр, оснащенный высококлассным оборудованием, позволит вам получить точнейшую диагностику заболеваний на ранней стадии, что особенно ценно при обнаружении онкологических болезней.</p>
      </div>
<div class="container align-items-center">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Услуга</th>
        <th scope="col">Цена, руб.</th>
      </tr>
    </thead>
    {% for pric in price %}
    <tbody>
      <tr>
        <td>{{ pric.description }}</td>
        <td>{{ pric.price }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

</div>
<hr class="featurette-divider">
<div class="row featurette">
<h1 class="display-4 fw-normal">Схема проезда</h1>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A32923ec50c84b444ea0967fa8cf5cf53e407a7d3aa3bea5c496b066b18a7b3fd&amp;width=1017&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
</div>



{% endblock %}