{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title%}
Предрейсовый медосмотр в Медицинский центр МедикаФарм
{% endblock %}

{% block content %}

{% if messages %}
        {% for message in messages %}
        <div class="container text-center">
          <div class="row p-3">
            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
                </div>
        {% endfor %}
    {% endif %}

{% for inf in info %}

<div class="container">
<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold text-body-emphasis">Предрейсовый медицинский осмотр работников</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Предсменный медицинский осмотр – медицинское освидетельствование 
      работников определенных сфер производства и обслуживания населения перед началом 
      рабочей смены или рейса.</p>
    
  </div>

  {% for sale in sale_info %}
  {% if sale.choice  == 'profi:predsmenniy' %}
  <div class="p-5 text-center bg-light rounded-3">
    <h1 class="text-danger text-body-emphasis">АКЦИЯ</h1>
    <p class="lead">
      {{ sale.text|linebreaks }}
      Дейсивует до {{ sale.pub_date }}
    </p>
  </div>
  {% endif %}
  {% endfor %}

</div>
</div>

<div class="container">
<div class="row row-cols-1 row-cols-md-3 mb-3 justify-content-sm-center text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Частным лицам</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ price_uliza.price }}&#8381;<small class="text-body-secondary fw-light">/за путёвку</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ price_uliza.description|linebreaks }}</li>
        </ul>
        <a class="w-100 btn btn-success btn-lg" href="tel:{{ inf.phone_number }}" role="button">Записаться на прием</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3 text-bg-success">
        <h4 class="my-0 fw-normal">Корпоративным клиентам</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ price_company.price }}&#8381;<small class="text-body-secondary fw-light">/за человека</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ price_company.description|linebreaks }}</li>
        </ul>

        <button type="button" class="w-100 btn btn-success btn-lg px-4 me-md-2" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo">Заключить договор</button>
            
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Форма для заполнения</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form method="POST">
                      {% csrf_token %}
                      <div class="form-floating mb-3">
                        {{ form.first_name|add_class:"form-control"|attr:"placeholder:Введите имя" }}
                        <label for="id_first_name">Имя:</label>
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.email_address|add_class:"form-control"|attr:"placeholder:Введите почту" }}
                        <label for="id_email_address">Email:</label>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text">+7</span>
                        <div class="form-floating">
                          {{ form.phone_number|add_class:"form-control"|attr:"placeholder:Введите телефон" }}
                          <label for="id_phone_number">Номер телефона:</label>
                        </div>
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.title|add_class:"form-control"|attr:"placeholder:Введите тему заявки" }}
                        <label for="id_title">Тема заявки:</label>
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.message|add_class:"form-control"|attr:"placeholder:Введите реквизиты"|attr:"style:height:100px" }}
                        <label for="id_message">Введите реквизиты:</label>
                      </div>
                      <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                        <label class="form-check-label" for="validationFormCheck1">Нажимая на кнопку, я принимаю условия соглашения.</label>
                        <div class="invalid-feedback">Необходимо дать согласие</div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-success" data-bs-target="sucsess">Отправить</button>
                  </div>
                </form>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table text-center">
    <thead>
      <tr>
        <th style="width: 34%;"></th>
        <th style="width: 22%;">Без договора</th>
        <th style="width: 22%;">С договором</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-start">Осмотр займет 10 минут</th>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
        <td></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th scope="row" class="text-start">Отдельное окно в регистратуер, что ускоряет прием пациентов и весь осмотр до 5 минут</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Ускоренное получение результатов в день обращения</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Возможен выезд на адрес заказчика</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Личный менеджер по сопровождению в любых вопросах</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Возможность постоплаты</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
    </tbody>
  </table>
</div>
</div>

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="container-fluid">
            <div class="row">
              <div class="col">
                
                <p class="lead">
                  
                  <h2>Предрейсовый осмотр водителей</h2>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Организации, ведущие деятельность, 
                  связанную с эксплуатацией транспорта, обязаны проводить 
                  предрейсовые медосмотры. Такое обследование необходимо для 
                  подтверждения отсутствия у водителей признаков употребления 
                  алкоголя, наркотиков, симптомов заболеваний и должно 
                  проводиться перед каждым выходом на рейс.

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Организованные предрейсовые осмотры – 
                  это способ избежать риска ДТП и штрафов со стороны контролирующих 
                  органов, а также квалифицированный контроль за состоянием 
                  здоровья сотрудников. 

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Кто должен проходить предрейсовый осмотр?</h2>

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Медосмотр перед выходом на рейс должны 
                  проходить водители всех транспортных средств, эксплуатируемых 
                  юридическими лицами и индивидуальными предпринимателями:

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>
                    Водители, перевозящие пассажиров или грузы (в т.ч. водители автопогрузчиков)
                  </li>
                  <li>
                    Водители некоммерческого транспорта, перевозящие сотрудников организации
                  </li>
                  <li>
                    Индивидуальные предприниматели, самостоятельно использующие транспортные средства
                  </li>
                  <li>
                    Водители, управляющие авто- или электротранспортом на территории организации.
                  </li>

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Водители, перевозящие людей или опасные грузы, 
                  проходят также и послерейсовый осмотр, по содержанию и алгоритму 
                  аналогичный предрейсовому, но проводимый после окончания смены.

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Журнал медицинского осмотра и путевой лист</h2>

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;После прохождения медосмотра врач вносит 
                  сведения в журнал предрейсового осмотра. В путевом листе делается 
                  пометка, что сотрудник допускается к управлению транспортным 
                  средством. Указывается время проведения медосмотра, чтобы при 
                  проверке можно было удостовериться в его действительности.

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;В медицинский журнал вносится следующая информация:

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>
                    дата и время процедуры;
                  </li>
                  <li>
                    личная информация сотрудника (ФИО, дата рождения, пол);
                  </li>
                  <li>
                    сведения о состоянии здоровья;
                  </li>
                  <li>
                    медицинское заключение;
                  </li>
                  <li>
                  подписи врача и водителя.
                  </li>

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Перед каждой поездкой выдается путевой лист. 
                  Максимальной срок действия документа - месяц. Если протяженность дороги 
                  большая, в путевом листе указываются основные точки маршрута. Водитель 
                  проходит медицинский осмотр только перед отправкой из начального пункта.

                  <div class="container ">
                    <div class="p-5 bg-light rounded-3">
                      <p class="lead">

                        Обратите внимание! Если работодатель не выполняет своих 
                        обязанностей по медицинскому осмотру работников, ему грозят 
                        крупные штрафы (ч. 3 ст. 5.27.1 КоАП РФ): 
                        
                        <li>
                        должностным лицам и ИП — на сумму от 15 000 до 25 000 рублей;
                        </li>
                        <li>
                        юрлицам — от 110 000 до 130000 рублей.
                        </li>
                        
                        <br>За повторное нарушение предусмотрен еще более суровое наказание: 

                        <li>
                        штраф в размере от 30 000 до 40 000 рублей или дисквалификация на срок от одного до трех лет — должностных лиц;
                        </li>
                        <li>
                        штраф от 30 000 до 40 000 рублей или административное приостановление деятельности на срок до 90 суток — ИП;
                        </li>
                        <li>
                        штраф от 100 000 до 200 000 рублей или административное приостановление деятельности на срок до 90 суток — юрлиц.
                        </li> 

                      </p>
                    </div>
                  </div>

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Если врач принимает состояние здоровья 
                  человека, как удовлетворительное, ставится печать с подписью 
                  специалиста и ее расшифровкой. Без штампа путевой лист считается 
                  недействительным.

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Предрейсовый медицинский осмотр водителей, 
                  а также остальных сотрудников - важная профилактическая мера для 
                  уважающего себя и своих работников предприятия. При этом наши 
                  специалисты своевременно окажут профессиональную врачебную помощь 
                  любому, кому это потребуется. При заключении договора с организациями 
                  всегда действует гибкая система скидок! Звоните!
                        
                </p>
              </div>
            </div>
          </div>
      </div>


    

    <!-- /END THE FEATURETTES -->
<hr class="featurette-divider">
<div class="row featurette">
<h1 class="display-4 fw-normal">Схема проезда</h1>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A32923ec50c84b444ea0967fa8cf5cf53e407a7d3aa3bea5c496b066b18a7b3fd&amp;width=1017&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
</div>
{% endfor %}


{% endblock %}