{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title%}
Предварительный профосмотр в Медицинский центр МедикаФарм
{% endblock %}

{% block content %}

{% if messages %}
        {% for message in messages %}
        <div class="container text-center">
          <div class="row p-3">
            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
                </div>
        {% endfor %}
    {% endif %}

{% for inf in info %}

<div class="container">
<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold text-body-emphasis">Предварительный медицинский осмотр <br> при приеме на работу</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Согласно Приказу Минздрава РФ от 28.01.2021 N 29Н медосмотр 
      при приеме на работу - обязательные и проводятся с целью определения 
      соответствия состояния здоровья лица, поступающего на работу, поручаемой 
      ему работе.</p>
    
  </div>

          {% for sale in sale_info %}
          {% if sale.choice  == 'profi:predvaritelnie' %}
          <div class="p-5 text-center bg-light rounded-3">
            <h1 class="text-danger text-body-emphasis">АКЦИЯ</h1>
            <p class="lead">
              {{ sale.text|linebreaks }}
              Дейсивует до {{ sale.pub_date }}
            </p>
          </div>
          {% endif %}
          {% endfor %}

</div>
</div>

<div class="container">
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Частным лицам</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ price_men.price }}&#8381;<small class="text-body-secondary fw-light">/мужчинам</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ price_men.description|linebreaks }}</li>
        </ul>
        <a class="w-100 btn btn-success btn-lg" href="tel:{{ inf.phone_number }}" role="button">Записаться на прием</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Частным лицам</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ price_woman.price }}&#8381;<small class="text-body-secondary fw-light">/женщинам</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ price_woman.description|linebreaks }}</li>
        </ul>
        <a class="w-100 btn btn-success btn-lg" href="tel:{{ inf.phone_number }}" role="button">Записаться на прием</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3 text-bg-success">
        <h4 class="my-0 fw-normal">Корпоративным клиентам</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ price_company.price }}&#8381;<small class="text-body-secondary fw-light">/за человека</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ price_company.description|linebreaks }}</li>
        </ul>

        <button type="button" class="w-100 btn btn-success btn-lg px-4 me-md-2" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo">Заключить договор</button>
            
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Форма для заполнения</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form method="POST">
                      {% csrf_token %}
                      <div class="form-floating mb-3">
                        {{ form.first_name|add_class:"form-control"|attr:"placeholder:Введите имя" }}
                        <label for="id_first_name">Имя:</label>
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.email_address|add_class:"form-control"|attr:"placeholder:Введите почту" }}
                        <label for="id_email_address">Email:</label>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text">+7</span>
                        <div class="form-floating">
                          {{ form.phone_number|add_class:"form-control"|attr:"placeholder:Введите телефон" }}
                          <label for="id_phone_number">Номер телефона:</label>
                        </div>
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.title|add_class:"form-control"|attr:"placeholder:Введите тему заявки" }}
                        <label for="id_title">Тема заявки:</label>
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.message|add_class:"form-control"|attr:"placeholder:Введите реквизиты"|attr:"style:height:100px" }}
                        <label for="id_message">Введите реквизиты:</label>
                      </div>
                      <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                        <label class="form-check-label" for="validationFormCheck1">Нажимая на кнопку, я принимаю условия соглашения.</label>
                        <div class="invalid-feedback">Необходимо дать согласие</div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-success" data-bs-target="sucsess">Отправить</button>
                  </div>
                </form>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table text-center">
    <thead>
      <tr>
        <th style="width: 34%;"></th>
        <th style="width: 22%;">Без договора</th>
        <th style="width: 22%;">С договором</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-start">Цена фиксируется для любых вредностей</th>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Осмотр займет 40-50 минут</th>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
        <td></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th scope="row" class="text-start">Результат на следующий день</th>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Отдельное окно в регистратуер, что ускоряет прием пациентов и весь осмотр до 30 минут</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Ускоренное получение результатов в день обращения</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Возможен выезд на адрес заказчика</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Личный менеджер по сопровождению в любых вопросах</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Возможность постоплаты</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
    </tbody>
  </table>
</div>
</div>

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="container-fluid">
            <div class="row">
              <div class="col">
                
                <img class="img-fluid rounded float-start p-3" src="{% static 'media/predv-osmotr.jpg' %}" alt="" width="420">
                <p class="lead">
                  
                  <h2>Необходимость предварительных профосмотров</h2>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Предварительный медицинский осмотр проводится 
                  непосредственно перед поступлением на работу. Работодатель обычно 
                  запрашивает у будущего сотрудника документ о прохождении медицинского 
                  осмотра для подтверждения готовности к полноценной рабочей активности. 
                  Прохождение такого медосмотра справедливо и находится в полном 
                  соответствии с требованиями закона, поскольку предварительный 
                  осмотр определяет медицинское «соответствие» соискателя вакансии. 
                  Для организаций это дополнительный отбор соискателей по медицинским 
                  показаниям (противопоказаниям).

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Приказом для определенных видов деятельности 
                  устанавливаются соответствующие требования, определяется состав 
                  медкомиссии и подтверждается заключением.

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Предварительный профосмотр при приеме на 
                  работу требуется в следующих ситуациях:

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>
                    при контакте с вредными и опасными для работников факторами;
                  </li>
                  <li>
                    работа на Крайнем Севере;
                  </li>
                  <li>
                    устройство на работу в пищевую промышленности, общественное питание и торговлю;
                  </li>
                  <li>
                    устройство на работу в медицинские учреждения, лечебно-профилактические и детские учреждения.
                  </li>

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;У медцентра есть все лицензии на проведение 
                  предварительных медосмотров, а также на выдачу официальных медзаключений 
                  по профессиональной деятельности. Выдаваемые нами документы имеют 
                  юридическую силу на всей территории РФ.

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Необходимые документы</h2>

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Для медосмотра в 2022 году необходимо 
                  предоставить паспорт или иной документ, удостоверяющий личность. 
                  В большинстве случаев работодатель, который собирается принять 
                  человека на работу, выдает направление по Приказу 29н. Если такого 
                  направления нет, это не является препятствием для прохождения 
                  медосмотра на работу и оформления соответствующей справки.

                  <div class="container ">
                    <div class="p-5 bg-light rounded-3">
                      <p class="lead">

                        Обратите внимание! Если работодатель не выполняет своих 
                        обязанностей по медицинскому осмотру работников, ему грозят 
                        крупные штрафы (ч. 3 ст. 5.27.1 КоАП РФ): 
                        
                        <li>
                        должностным лицам и ИП — на сумму от 15 000 до 25 000 рублей;
                        </li>
                        <li>
                        юрлицам — от 110 000 до 130000 рублей.
                        </li>
                        
                        <br>За повторное нарушение предусмотрен еще более суровое наказание: 

                        <li>
                        штраф в размере от 30 000 до 40 000 рублей или дисквалификация на срок от одного до трех лет — должностных лиц;
                        </li>
                        <li>
                        штраф от 30 000 до 40 000 рублей или административное приостановление деятельности на срок до 90 суток — ИП;
                        </li>
                        <li>
                        штраф от 100 000 до 200 000 рублей или административное приостановление деятельности на срок до 90 суток — юрлиц.
                        </li> 

                      </p>
                    </div>
                  </div>

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<h2>Какие специалисты и исследования, включены в комиссию</h2>

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Список врачей, которых стоит посетить, 
                  зависит от профессии, вредности производств. Каких именно специалистов 
                  необходимо пройти, желательно заранее уточнить у работодателя.

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Стандартный перечень для медосмотра в Москве выглядит следующим образом:

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>
                        терапевт;
                      </li>
                      <li>
                        невролог;
                      </li>
                      <li>
                        нарколог;
                      </li>
                      <li>
                        психиатр;
                      </li>
                      <li>
                        гинеколог (для женщин).
                      </li>
                    
                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Базовые исследования:

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>
                        флюорография;
                      </li>
                      <li>
                        ЭКГ;
                      </li>
                      <li>
                        общие анализы крови и мочи;
                      </li>
                      <li>
                        анализ крови на сахар и холестерин;
                      </li>
                      <li>
                        биохимический анализ крови.
                      </li>

                      <br>&nbsp;&nbsp;&nbsp;&nbsp;Наши врачи обязательно измеряют массу тела, рост и артериальное давление всех пациентов.
                      Все перечисленные процедуры проводятся в нашем медцентре в 40-50 минут.

                        
                </p>
              </div>
            </div>
          </div>
      </div>


    

    <!-- /END THE FEATURETTES -->
<hr class="featurette-divider">
<div class="row featurette">
<h1 class="display-4 fw-normal">Схема проезда</h1>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A32923ec50c84b444ea0967fa8cf5cf53e407a7d3aa3bea5c496b066b18a7b3fd&amp;width=1017&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
</div>
{% endfor %}


{% endblock %}