{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title%}
Психиатрическое освидетельствование в Медицинский центр МедикаФарм
{% endblock %}

{% block content %}

{% if messages %}
        {% for message in messages %}
        <div class="container text-center">
          <div class="row p-3">
            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
                </div>
        {% endfor %}
    {% endif %}

{% for inf in info %}

<div class="container">
<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold text-body-emphasis">Психиатрическое освидетельствование</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Психиатрическое освидетельствование проводится работникам, 
      в чьей деятельности присутствуют определенные вредные факторы, определенные 
      Приказом 342н, а также во всех случаях, когда работа связана с взаимодействием 
      с людьми. </p>
    
  </div>
</div>
</div>

<div class="container">
<div class="row row-cols-1 row-cols-md-3 mb-3 justify-content-sm-center text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Частным лицам</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ price_uliza.price }}&#8381;<small class="text-body-secondary fw-light">/мужчинам и женщинам</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ price_uliza.description|linebreaks }}</li>
        </ul>
        <a class="w-100 btn btn-success btn-lg" href="tel:{{ inf.phone_number }}" role="button">Записаться на прием</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3 text-bg-success">
        <h4 class="my-0 fw-normal">Корпоративным клиентам</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ price_company.price }}&#8381;<small class="text-body-secondary fw-light">/за человека</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ price_company.description|linebreaks }}</li>
        </ul>

        <button type="button" class="w-100 btn btn-success btn-lg px-4 me-md-2" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo">Заключить договор</button>
            
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Форма для заполнения</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form method="POST">
                      {% csrf_token %}
                      <div class="form-floating mb-3">
                        {{ form.first_name|add_class:"form-control"|attr:"placeholder:Введите имя" }}
                        <label for="id_first_name">Имя:</label>
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.email_address|add_class:"form-control"|attr:"placeholder:Введите почту" }}
                        <label for="id_email_address">Email:</label>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text">+7</span>
                        <div class="form-floating">
                          {{ form.phone_number|add_class:"form-control"|attr:"placeholder:Введите телефон" }}
                          <label for="id_phone_number">Номер телефона:</label>
                        </div>
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.title|add_class:"form-control"|attr:"placeholder:Введите тему заявки" }}
                        <label for="id_title">Тема заявки:</label>
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.message|add_class:"form-control"|attr:"placeholder:Введите реквизиты"|attr:"style:height:100px" }}
                        <label for="id_message">Введите реквизиты:</label>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-success" data-bs-target="sucsess">Отправить</button>
                  </div>
                </form>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table text-center">
    <thead>
      <tr>
        <th style="width: 34%;"></th>
        <th style="width: 22%;">Без договора</th>
        <th style="width: 22%;">С договором</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-start">Цена фиксируется для любых вредностей</th>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Осмотр займет 40-50 минут</th>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
        <td></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th scope="row" class="text-start">Результат на следующий день</th>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Отдельное окно в регистратуер, что ускоряет прием пациентов и весь осмотр до 30 минут</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Ускоренное получение результатов в день обращения</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Возможен выезд на адрес заказчика</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Личный менеджер по сопровождению в любых вопросах</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
      <tr>
        <th scope="row" class="text-start">Возможность постоплаты</th>
        <td></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
        </svg></td>
      </tr>
    </tbody>
  </table>
</div>
</div>

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="container-fluid">
            <div class="row">
              <div class="col">
                
                <img class="img-fluid rounded float-start p-3" src="{% static 'media/psix.webp' %}" alt="" width="620">
                <p class="lead">
                  
                  <h2>Обязательное психиатрическое освидетельствование работников</h2>
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Наш медцентр имеет государственную лицензию, 
                  позволяющую оказывать юридическим лицам такую услугу, как обязательное 
                  психиатрическое освидетельствование сотрудников - без допуска по 
                  результатам которого работники некоторых специальностей не могут 
                  быть допущены к выполнению своих профессиональных обязанностей 
                  (см. ч.7 и 8 ст.213 ТК РФ).

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Конкретный перечень психиатрических 
                  противопоказаний для отдельных видов деятельности утвержден 
                  Постановлением Правительства РФ №377 от 28.4.1993г. Так, при 
                  хронических и затяжных психических расстройствах, при эпилепсии 
                  с судорогами нельзя работать с некоторыми опасными факторами, 
                  подразумевающими известный риск или стресс - особенно при 
                  расстройстве внимания и более серьёзных проблемах с психикой 
                  и нервной системой.

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Обобщая большинство (не все, 
                  подробнее см. по ссылке выше) факторов, для допуска к 
                  работе с которыми обязательно психиатрическое 
                  освидетельствование (ОПО) категорически требуется, 
                  можно свести в следующий логичный список:

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;<li>
                    физические (ионизирующее излучение, шум, гравитационные перегрузки, 
                    электрическое напряжение 127В и выше);
                  </li>
                  <li>
                    химические (агрессивные, ядовитые и психотропные вещества);
                  </li>
                  <li>
                    биологические (материал, инфицированный болезнетворными агентами, 
                    крупыне хищники, ядовитые животные, а также паразитические организмы);
                  </li>
                  <li>
                    психологические (высота, суровые климатические условия типа районов 
                    Крайнего Севера, длительная изоляция типа вахт в одиночестве или 
                    небольших коллективах, управление транспортом и другой мощной сложной техникой).
                  </li>

                  <br>&nbsp;&nbsp;&nbsp;&nbsp;Однако, реальный перечень профессий, 
                  для допуска к занятиям которыми обязательное психиатрическое 
                  освидетельствование необходимо - как, опять же, можно видеть 
                  по ссылке выше - достаточно длинный и содержит иногда довольно 
                  неожиданные пункты, например: Конечно, если Вы читаете эту 
                  страничку - вряд ли Вы попали на неё случайно и Вам нужны 
                  какие-то дополнительные разъяснения. Скорее всего, Вы уже 
                  знакомы с темой хотя бы в главных вопросах. Но всё же мы 
                  рекомендуем внимательно ознакомиться с нюансами документов, 
                  регламентирующих ОПО - в целях соблюдения всех правил, 
                  установленных по этой теме Законодательством РФ. Несоблюдение 
                  или даже отклонение от этих правил чревато неприятными 
                  последствиями - особенно в случае чрезвычайных происшествий 
                  на производстве, связанных с неадекватным поведением работников.

                  <div class="container ">
                    <div class="p-5 bg-light rounded-3">
                      <p class="lead">

                        Обратите внимание! Если работодатель не выполняет своих 
                        обязанностей по медицинскому осмотру работников, ему грозят 
                        крупные штрафы (ч. 3 ст. 5.27.1 КоАП РФ): 
                        
                        <li>
                        должностным лицам и ИП — на сумму от 15 000 до 25 000 рублей;
                        </li>
                        <li>
                        юрлицам — от 110 000 до 130000 рублей.
                        </li>
                        
                        <br>За повторное нарушение предусмотрен еще более суровое наказание: 

                        <li>
                        штраф в размере от 30 000 до 40 000 рублей или дисквалификация на срок от одного до трех лет — должностных лиц;
                        </li>
                        <li>
                        штраф от 30 000 до 40 000 рублей или административное приостановление деятельности на срок до 90 суток — ИП;
                        </li>
                        <li>
                        штраф от 100 000 до 200 000 рублей или административное приостановление деятельности на срок до 90 суток — юрлиц.
                        </li> 

                      </p>
                    </div>
                  </div>
                        
                </p>
              </div>
            </div>
          </div>
      </div>


    

    <!-- /END THE FEATURETTES -->
<hr class="featurette-divider">
<div class="row featurette">
<h1 class="display-4 fw-normal">Схема проезда</h1>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A32923ec50c84b444ea0967fa8cf5cf53e407a7d3aa3bea5c496b066b18a7b3fd&amp;width=1017&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
</div>
{% endfor %}


{% endblock %}