{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title%}
Нормативно-правовые документы Медицинского центра МедикаФарм
{% endblock %}

{% block content %}

<div class="container">
    <div class="row p-3 pb-md-4 mx-auto text-center">
    <h1>Нормативно-правовые документы медицинского центра МедикаФарм</h1>
</div>
<p>
    На сайте представлены ссылки на актуальные федеральные и 
    медицинские законы и подзаконные акты, приказы и постановления.
</p>
<p>
    Федеральные и местные законы и подзаконные акты, ведомственные приказы и постановления.
</p>
<p>
    Ссылки на независимые официальные источники с актуальными версиями документов:
</p>
<div class="p-3 pb-md-4 mx-auto ">
<li>
    <a rel="nofollow" href="http://consultant.ru/document/cons_doc_LAW_305/" target="_blank" title="Закон о защите прав потребителей">Закон о защите прав потребителей;</a>
</li>
&nbsp;<li>
    <a rel="nofollow" href="http://consultant.ru/document/cons_doc_LAW_121895/" target="_blank" title="Закон о об основах охраны здоровья граждан в РФ">Закон о об основах охраны здоровья граждан;</a>
</li>
&nbsp;<li>
    <a rel="nofollow" href="http://consultant.ru/document/cons_doc_LAW_61801/" target="_blank" title="Закон о защите персональных данных">Закон о персональных данных;</a>
</li>
&nbsp;<li>
    <a rel="nofollow" href="http://base.garant.ru/70237118/" target="_blank" title="Постановление Правительства РФ от 4.10.2012г. №1006 &quot;Об утверждении Правил предоставления медицинскими организациями платных медицинских услуг">Постановление Правительства РФ об утверждении Правил предоставления медицинскими организациями платных медицинских услуг;</a>
</li>
&nbsp;<li>
    <a rel="nofollow" href="http://garant.ru/products/ipo/prime/doc/71575880/" target="_blank" title="Приказ Министерства здравоохранения РФ от 10.5.2017г. №203н &quot;Об утверждении критериев оценки качества медицинской помощи">Приказ Министерства здравоохранения Российской Федерации от 10.05.2017 № 203н "Об утверждении критериев оценки качества медицинской помощи"</a>
</li>


&nbsp;<li>
    <a rel="nofollow" href="https://www.garant.ru/products/ipo/prime/doc/405965459/" target="_blank">Постановление Правительства РФ от 29 декабря 2022 г. N 2497 "О Программе государственных гарантий бесплатного оказания гражданам медицинской помощи на 2023 год и на плановый период 2024 и 2025 годов";</a>
</li>
<ul>
<li>
    <a rel="nofollow" href="https://www.garant.ru/products/ipo/prime/doc/405965459/" name="II. Перечень видов, форм и условий предоставления медицинской помощи, оказание которой осуществляется бесплатно" target="_blank" ><em>II. Перечень видов, форм и условий предоставления медицинской помощи, оказание которой осуществляется бесплатно</em></a>
</li>
<li>
    <a rel="nofollow" href="https://www.garant.ru/products/ipo/prime/doc/405965459/" target="_blank" ><em>VIII. Критерии доступности и качества медицинской помощи</em></a>
</li>
</ul>

<li>
    <a rel="nofollow" href="https://base.garant.ru/406182655/" target="_blank" >Постановление правительства Москвы от 29.12.2022 № 3044-ПП «О Территориальной программе государственных гарантий бесплатного оказания гражданам медицинской помощи в городе Москве на 2023 и на плановый период 2024 и 2025 годов»</a>
</li>
</div>
<p>
    Внутренние документы медицинского центра, составленные и действующие в соответствии с Законодательством РФ, федеральными, местными и ведомственными постановлениями, правилами и распоряжениями, имеющими обязательную или рекомендательную силу:
</p>
<div class="p-3 pb-md-4 mx-auto ">
    {% for document in documents %}
    &nbsp;<li>
        <a rel="nofollow" 
           href="/media/{{ document.file }}" 
           target="_blank">{{ document.title }}</a>
    </li>
    {% endfor %}
</div>



</div>


{% endblock %}