{% extends 'base.html' %}
{% load static %}


{% block title%}
Главная страница
{% endblock %}

{% block content %}
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://img.freepik.com/free-vector/blue-3d-particles-background-design_1017-15410.jpg?w=1800&t=st=1681478362~exp=1681478962~hmac=53e2bc7ce43fb77d57b398372d6ee3860ee8385e36e391e19668091d1d86e823" class="img-thumbnail" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Первое объявление</h5>
              <p>Текст обявления и так же можно добавить кнопку на страницу акции</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://img.freepik.com/free-vector/blue-3d-particles-background-design_1017-15410.jpg?w=1800&t=st=1681478362~exp=1681478962~hmac=53e2bc7ce43fb77d57b398372d6ee3860ee8385e36e391e19668091d1d86e823" class="img-thumbnail" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Второе объявление</h5>
              <p>Текст обявления и так же можно добавить кнопку на страницу акции</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://img.freepik.com/free-vector/blue-3d-particles-background-design_1017-15410.jpg?w=1800&t=st=1681478362~exp=1681478962~hmac=53e2bc7ce43fb77d57b398372d6ee3860ee8385e36e391e19668091d1d86e823" class="img-thumbnail" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Третье объявление</h5>
              <p>Текст обявления и так же можно добавить кнопку на страницу акции</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Назад</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Следующий</span>
        </button>
      </div>
    </div>

<div class="container">
    ssss
</div>

{% endblock %}