{% extends 'base.html' %}
{% load static %}


{% block title%}
Медицинский центр МедикаФарм
{% endblock %}

{% block content %}

<div class="container-fluid">
<div id="myCarousel" class="carousel slide text-center mt-3" data-bs-ride="carousel">
  {% for boar in board %}
  <div class="carousel-inner">
    <div class="carousel-item {% if boar.choice  == 'true' %}active{% endif %}">
      <svg class="bd-placeholder-img d-block w-100" 
           width="100%" 
           height="600" 
           xmlns="http://www.w3.org/2000/svg" 
           aria-hidden="true" 
           preserveAspectRatio="xMidYMid slice" 
           focusable="false"><rect width="100%" height="600" fill="#009e9e"></rect></svg>
           
      <div class="container">
        <div class="carousel-caption">
          <h1>{{ boar.title|linebreaks }}</h1>
          <p>{{ boar.description|linebreaks }}</p>
          {% if boar.url_for_button != '' %}<p><a class="btn btn-lg btn-success" href="{{ boar.url_for_button }}">Перейти</a></p>{% endif %}
          
        </div>
      </div>
    </div>
    {% endfor %}
    
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущее</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующее</span>
  </button>
</div>


</div>
  
  <div class="container">
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Выгодные корпоративный цены</h1>
      </div>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

        {% for pric in price %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">{{ pric.title }}</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">{{ pric.price }} &#8381;<small class="text-muted fw-light">/{{ pric.quantity }}</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{ pric.description|linebreaks }}</li>
              </ul>
              <a class="w-100 btn btn-lg btn-outline-success" href="{{ pric.url_for_button }}">Перейти</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="{% static 'media/collages.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">О центре</h1>
          <p class="lead">Медицинский центр "МедикаФарм" предоставляет медицинские услуги с 2006 г. Мы гордимся качеством своих услуг, прислушиваемся к пожеланиям клиентов. Мы поддерживаем цены на доступном уровне, а график работы выстроен так, чтобы нашим клиентам было удобно попасть на прием в т.ч. после работы.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-success btn-lg px-4 me-md-2">Перейти</button>
          </div>
        </div>
      </div>
    </div>


    <div class="container px-4 py-5">
      <h2 class="pb-2">Наши специалисты</h2>
      <p class="text-muted ">В клинике «МедикаФарм» ведут консультативный прием доктора различных специальностей, все обладают опытом и знаниями в своей области. На консультации врач оценивает состояние здоровья, собирает анамнез, при необходимости проводит или назначает обследования. После определения диагноза даются рекомендации по лечению.</p>
          
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center border-bottom pb-2">
      <a href="#" class="btn btn-success btn-lg px-4 me-md-2">Все специалисты</a>
          <button type="button" class="btn btn-success btn-lg px-4 me-md-2" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo">Задать вопрос врачу</button>
            
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Форма для заполнения</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Тема:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Ваша почта:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Ваш номер телефона для связи:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                      <div class="mb-3">
                        <label for="message-text" class="col-form-label">Специалист:</label>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Выберете специалста кому хотите задать вопрос</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                     </div>
                      <div class="mb-3">
                        <label for="message-text" class="col-form-label">Вопрос:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-success">Отправить</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="row row-cols-1 align-items-stretch g-4 py-5">

              <div class="itc-slider" data-slider="itc-slider" data-autoplay="true" data-interval="5000" data-swipe="true">
                <div class="itc-slider__wrapper">
                  <div class="itc-slider__items">
                    {% for doc in doctor %}
                    <div class="itc-slider__item">
              <div class="col">
                <div class="d-flex flex-column gap-2 align-items-center">
                  <div class="feature-icon-small d-inline-flex align-items-center justify-content-center fs-4 rounded-3">
                    <img src="media/{{ doc.image }}" class="rounded mx-auto d-block" width="250" height="250" alt="">
                  </div>
                  <h5 class="fw-semibold mb-0" align="center">{{ doc.fio }}</h5>
                  <p class="text-muted">{{ doc.job_title }}</p>
                </div>
              </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <!-- Кнопки для перехода к предыдущему и следующему слайду -->
                <button class="itc-slider__btn itc-slider__btn_prev"></button>
                <button class="itc-slider__btn itc-slider__btn_next"></button>
              </div>
            </div>
    </div>


    <div class="container">

      <h2 class="pb-2 border-bottom">Статьи</h2>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 py-5">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto g-4 py-5">
        <button class="btn btn-outline-success" type="button">Все статьи</button>
      </div>

    </div>

{% endblock %}