{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title%}
Политика конфиденциальности Медицинского центра МедикаФарм
{% endblock %}

{% block content %}

<div class="container">
    <div class="row p-3 pb-md-4 mx-auto text-center">
    <h1>Политика конфиденциальности</h1>
</div>
<p>
    Настоящее соглашение разработано в соответствии со следующими нормативно-правовыми актами:
</p>
<p>
    Конституция Российской Федерации;
</p>
<ul>
    <li>ФЗ от 27 июля 2006 года № 152-ФЗ «О персональных данных»;</li>
    <li>Указ Президента Российской Федерации от 6 марта 1997 г. № 188 «Об утверждении Перечня сведений конфиденциального характера»;</li>
    <li>Постановление Правительства Российской Федерации от 1 ноября 2012 года № 1119 «Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных».</li>
</ul>
<p>
    Настоящим, я (далее – Лицо), даю свое согласие компании «МедикаФарм» 
    (далее – Компания) на обработку своих персональных данных, указанных 
    при оформлении заявки на сайте Компании для обработки моего заказа, 
    заявки или любого другого способа обращения в компанию (далее Заказа),
     и коммуникации со мной в рамках обработки моего Заказа, а также 
     иных сопряженных с этим целей в рамках действующего законодательства 
     РФ и технических возможностей Компании.
</p>
<p>
    Обработка персональных данных Лица может осуществляться с помощью 
    средств автоматизации и/или без использования средств автоматизации в 
    соответствии с действующим законодательством РФ и положениями Компании. 
    Настоящее согласие Лица на обработку его/её персональных данных, 
    указанных при оформлении Заказа на сайте Компании, направляемых 
    (заполненных) с использованием настоящего сайта, действует с момента 
    оформления Заказа на сайте Компании до момента его отзыва. 
    Согласие на обработку персональных данных, указанных при оформлении 
    Заказа на сайте Компании, направляемых (заполненных) с использованием 
    настоящего сайта, может быть отозвано Лицом при подаче письменного 
    заявления (отзыва) в Компанию. Обезличенные персональные данные 
    Лица могут использоваться Компанией в статистических 
    (и иных исследовательских целей) после получения заявления (отзыва) 
    согласия, а также после достижения целей, для которых настоящее 
    согласие было получено.
</p>
<p>
    Данный сайт medikafarm.ru позволяет Компании получать информацию,
    содержащую персональные данные Лица, а именно фамилия, имя, отчество, 
    контактный телефон, адрес электронной почты, а также другие персональные
    данные, которые могут использоваться для идентификации Лица 
    («Ваши персональные данные»), в случае, если Лицо добровольно 
    предоставляет её компании.
</p>
<p>
    Лицо даёт согласие Компании, на обработку своих персональных данных, 
    а именно: фамилия, имя, отчество, контактный телефон, адрес 
    электронной почты, а также всех персональных данных, которые 
    необходимы для связи с Лицом и оформление договора на оказание 
    информационных услуг.
</p>
<p>
    В целях исполнения обязательств по договору Лицо предоставляет 
    Компании право осуществлять любые действия (операции) со своими
    персональными данными без ограничения: сбор, запись, учет, 
    систематизацию, хранение, уточнение (обновление, изменение),
    извлечение, накопление, обезличивание, блокирование, удаление,
    уничтожение; использование в статистических целях, в целях
    проведения анализа, в целях информирования Лица (с передачей по 
    SMS или электронной почтой) о продуктах и услугах Компании, 
    предоставление персонализированной рекламы Лицам, а также 
    осуществлять любые иные действия с учетом действующего законодательства.
</p>
<h2>
    Политика конфиденциальности в отношении обработки персональных данных
</h2>
<p>
    Политика компании в отношении обработки персональных данных 
    (далее – Политика) разработана в целях обеспечения реализации 
    требований законодательства РФ в области обработки персональных 
    данных Пользователей (субъектов персональных данных).
</p>
<h2>
    1. ОБЩИЕ ПОЛОЖЕНИЯ
</h2>
<p>
    1.1. Действие Политики распространяется на все персональные данные
     субъектов, обрабатываемые Компанией с применением средств 
     автоматизации и без применения таких средств.
</p>
<p>
    1.2. Политика является общедоступным документом, устанавливающим 
    основы деятельности Компании при обработке персональных данных.
</p>
<h2>
    2. ОПРЕДЕЛЕНИЯ
</h2>
<p>
    2.1. Персональные данные – любая информация, относящаяся к прямо 
    или косвенно определенному или определяемому физическому лицу 
    (субъекту персональных данных).
</p>
<p>
    2.2. Обработка персональных данных — любое действие (операция) 
    или совокупность действий (операций), совершаемых с использованием 
    средств автоматизации или без использования таких средств с 
    персональными данными, включая сбор, запись, систематизацию, 
    накопление, хранение, уточнение (обновление, изменение), извлечение, 
    использование, передачу (распространение, предоставление, доступ), 
    обезличивание, блокирование, удаление, уничтожение персональных данных.
</p>
<h2>
    3. ОСНОВНЫЕ УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
</h2>
<p>
    3.1. Обработка и обеспечение безопасности персональных данных 
    осуществляется Компанией в соответствии с требованиями:
</p>
<p>— Федерального закона № 152-ФЗ «О персональных данных»;<br>
    — иных нормативных актов, определяющих случаи и особенности обработки персональных данных;<br>
    — настоящей Политики.
</p>
<p>
    3.2. Компания вправе поручить обработку персональных данных 
    другому лицу с согласия субъекта персональных данных, если 
    иное не предусмотрено федеральным законом, на основании 
    заключаемого с этим лицом договора.
</p>
<p>
    3.3. В случаях, установленных законодательством Российской 
    Федерации, Компания вправе осуществлять передачу персональных данных.
</p>
<h2>
    4. ПРАВА СУБЪЕКТА ПЕРСОНАЛЬНЫХ ДАННЫХ
</h2>
<p>
    4.1. Субъект персональных данных имеет право на получение 
    информации об обработке его персональных данных Компанией.
</p>
<p>
    4.2. Субъект персональных данных вправе требовать от 
    Компании уточнения обрабатываемых Компанией персональных 
    данных субъекта, их блокирования или уничтожения в случае, 
    если персональные данные являются неполными, устаревшими, 
    неточными, а также принимать предусмотренные законом меры 
    по защите своих прав.
</p>
<p>
    4.3. Для реализации своих прав и защиты законных интересов, 
    субъект персональных данных имеет право обратиться к Компании. 
    Компания рассматривает обращения и жалобы со стороны субъектов 
    персональных данных, принимает все необходимые меры для 
    немедленного устранения любых нарушений прав субъектов 
    персональных данных, наказания виновных лиц и урегулирования 
    спорных и конфликтных ситуаций в досудебном порядке.
</p>
<h2>
    5. КОНФИДЕНЦИАЛЬНОСТЬ ИНФОРМАЦИИ
</h2>
<p>
    При оформлении заявки на сайте Пользователь предоставляет 
    следующую информацию: Фамилия, Имя, контактный номер телефона, 
    адрес электронной почты, адрес доставки.
</p>
<p>
    Компания имеет право отправлять информационные, в том числе 
    рекламные сообщения, на электронную почту и мобильный телефон 
    Пользователя/Покупателя с его согласия, выраженного посредством 
    совершения им действий, однозначно идентифицирующих этого 
    абонента и позволяющих достоверно установить его волеизъявление 
    на получение сообщения. Пользователь/Покупатель вправе отказаться 
    от получения рекламной и другой информации без объяснения 
    причин отказа путем информирования Компании о своем отказе 
    (можно сообщить по телефону компании или отправить заявку на почту).
</p>
<p>
    Компания вправе использовать технологию «cookies». «Cookies» 
    не содержат конфиденциальную информацию. Посетитель / Пользователь / 
    Покупатель настоящим дает согласие на сбор, анализ и использование 
    cookies, в том числе третьими лицами для целей формирования 
    статистики и оптимизации рекламных сообщений.
</p>
<p>
    Компания получает информацию об ip-адресе посетителя Сайта. 
    Данная информация не используется для установления личности посетителя.
</p>
<p>
    Компания вправе осуществлять записи телефонных разговоров с 
    Пользователем/Покупателем. При этом Компания обязуется: предотвращать 
    попытки несанкционированного доступа к информации, полученной в ходе 
    телефонных переговоров, и/или передачу ее третьим лицам, не имеющим 
    непосредственного отношения к исполнению Заказов, в соответствии 
    с п. 4 ст. 16 Федерального закона «Об информации, информационных 
    технологиях и о защите информации».
</p>
<h2>
    6. МЕРЫ ЗАЩИТЫ ПЕРСОНАЛЬНЫХ ДАННЫХ
</h2>
<p>
    6.1. Компания при обработке персональных данных принимает 
    все необходимые меры для защиты персональных данных от 
    неправомерного или случайного доступа к ним, уничтожения, 
    изменения, блокирования, копирования, предоставления, 
    распространения персональных данных, а также от иных 
    неправомерных действий в отношении персональных данных 
    в соответствии с требованиями действующего законодательства, 
    в том числе, законодательства о персональных данных.
</p>
<h2>
    7. РЕКВИЗИТЫ
</h2>
<p>
    ООО "МедикаГрупп"
</p>
<p>
    ОГРН 00000000000 ИНН 0000000000 КПП 00000000000 <br>
    Ген. дир. Власов О.Г. <br>
    Юр. адрес: 1-й Кожевнический переулок, 8, Москва, 115114<br>
    Фактический адрес: 1-й Кожевнический переулок, 8, Москва, 115114<br>
</p>
{% for inf in info %}
<p>
    Время работы: {{ inf.work_time }}<br>
    <p class="text">Телефон: <a href="tel:{{ inf.phone_number }}" class="text-muted text-primary-hover"><i class="bi bi-telephone me-2"></i>{{ inf.phone_number }}</a> </p>
    <p class="text">Частным лицам: <a href="mailto:{{ inf.email_adm }}" class="text-muted text-primary-hover"><i class="bi bi-envelope me-2"></i>{{ inf.email_adm }}</a></p>
    <p class="text">Отдел продаж: <a href="mailto:{{ inf.email_sail }}" class="text-muted text-primary-hover"><i class="bi bi-envelope me-2"></i>{{ inf.email_sail }}</a></p>
</p>
{% endfor %} 
<div class="row p-3 pb-md-4 mx-auto text-center">
</div>


</div>


{% endblock %}