{% load static %}

{% for inf in info %}
<footer class="bg-light pt-5">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-4">
				<!-- logo -->
				<a href="/" 
         class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'media/logo.png' %}" 
             alt="" 
             width="50" 
             height="50" 
             class="d-inline-block align-text-top">
             &nbsp;
             &nbsp;
            <span class="fs-4">МедикаФарм
              <p class="h6 text-muted">Медицинский центр</p>
            </span>
      </a>
				<p class="my-3 text-muted">Медицинский центр «Медикафарм». Никакая информация на сайте не является публичной офертой, 
					если специально не оговорено обратное. Мы просим проверять важные для вас сведения по контактным телефонам. При этом 
					любая отправка любой информации нам через наш сайт означает ваше согласие на обработку нами ваших персональных данных,
					 присутствующих в ней. См. также закон о защите прав потребителей и закон об основах охраны здоровья граждан.</p>
				<p class="text-muted">Телефон: <a href="tel:{{ inf.phone_number }}" class="text-muted text-primary-hover"><i class="bi bi-telephone me-2"></i>{{ inf.phone_number }}</a> </p>
				<p class="text-muted">Частным лицам: <a href="mailto:{{ inf.email_adm }}" class="text-muted text-primary-hover"><i class="bi bi-envelope me-2"></i>{{ inf.email_adm }}</a></p>
				<p class="text-muted">Отдел продаж: <a href="mailto:{{ inf.email_sail }}" class="text-muted text-primary-hover"><i class="bi bi-envelope me-2"></i>{{ inf.email_sail }}</a></p>
			</div>
      		{% endfor %}       
			<!-- Widget 1 END -->

			<!-- Widget 2 START -->
			<div class="col-lg-8 ms-auto">
				<div class="row g-4">
					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="mb-2 mb-md-4"><a class="nav-link" href="/">Главная страница</a></h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-muted" href="#">О клинике</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Контакты</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Статьи</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Вакансии</a></li>
						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="mb-2 mb-md-4">Справки</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'spravki:gibdd' %}">ГИБДД (ГАИ) 003-В/у</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'spravki:gims' %}">Управление судами (ГИМС)</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'spravki:gsy' %}">Госслужба 001-ГС/у</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'spravki:gstayna' %}">Гостайна 989н</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'spravki:spravki_086' %}">Справка 086/у</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'spravki:student_095' %}">Справка 095/у (студентам)</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'spravki:spravki_sport' %}">Справка для спорта</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'spravki:spravki_travel' %}">Справка для поездок</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'spravki:bolnichnij' %}">Официальные больничные листы</a></li>						
						</ul>
					</div>
									
					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="mb-2 mb-md-4">Врачи</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-muted" href="#">Страница</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Страница</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Страница</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Страница</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Страница</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="#">Страница</a></li>
						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="t mb-2 mb-md-4">Услуги</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'services:ultrasound' %}">УЗИ</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'services:rentgen' %}">Рентген</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'services:analisi' %}">Анализы</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'services:fluromobil' %}">Аренда флюоромобиля</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'profi:predvaritelnie' %}">Предварительный медосмотр</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'profi:pereodicheskiy' %}">Периодический медосмотр</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'profi:vneocherednoy' %}">Внеочередной медосмотр</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'profi:psihiatricheskoe' %}">Психиатрическое освидетельствование</a></li>
							<li class="nav-item"><a class="nav-link text-muted" href="{% url 'profi:predsmenniy' %}">Предрейсовый медосмотр</a></li>
						</ul>
					</div>

					<a href="https://zakupki.mos.ru/companyProfile/supplier/2232563" 
					   rel="nofollow" target="_blank" class="footer-postavshiki">
					   <img alt="Мы зарегистрированы на портале поставщиков" src="{% static 'media/portal.webp' %}"></a>

				</div>
			</div>
			<!-- Widget 2 END -->

		</div><!-- Row END -->

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="row">
			<div class="container">
				<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
					<!-- copyright text -->
					<div class="text-muted text-primary-hover">© 2006-{% now 'Y' %} «Медикафарм»™®. Все права защищены.</div>
					<!-- copyright links-->
					<div class="nav mt-2 mt-lg-0">
						<ul class="list-inline text-primary-hover mx-auto mb-0">
							<li class="list-inline-item me-0"><a class="nav-link py-1 text-muted" href="#">Нормативно-правовые документы</a></li>
							<li class="list-inline-item me-0"><a class="nav-link py-1 text-muted" href="{% url 'home:konfiden' %}">Политика конфиденциальности</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>