{% load static %}

{% for inf in info %}
<nav class="navbar navbar-light bg-light">
  <div class="container d-flex ">
    <span class="navbar-text">
      <div class="topline-center">
        {{ inf.work_time }}
      </div>
    </span>
  </div>
</nav>



  <div class="container p-3">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" 
         class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'media/logo.png' %}" 
             alt="" 
             width="50" 
             height="50" 
             class="d-inline-block align-text-top">
             &nbsp;
             &nbsp;
            <span class="fs-4">МедикаФарм
              <p class="h6 text-muted">Медицинский центр</p>
            </span>
      </a>

       
          <a href="tel:{{ inf.phone_number }}" 
         class="d-flex  mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'media/telephone.png' %}" 
             alt="" 
             width="30" 
             height="30" 
             class="d-inline-block">
             &nbsp;
             &nbsp;
            <span class="h4 text-muted">
              {{ inf.phone_number }}
            </span>
      </a>
{% endfor %}    
      <a href="https://yandex.ru/maps/213/moscow/?indoorLevel=1&ll=37.643734%2C55.728692&mode=routes&rtext=55.727203%2C37.646909~55.730059%2C37.641259&rtt=pd&ruri=ymapsbm1%3A%2F%2Forg%3Foid%3D145178380882~&z=17.79" 
         class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" target="_blank">
        <img src="{% static 'media/map.png' %}" 
             alt="" 
             width="30" 
             height="30" 
             class="d-inline-block align-text-top">
             &nbsp;
             &nbsp;
            <span class="h6 text-muted">Москва, м. Павелецкая <br>
              1-й Кожевнический пер. дом 8
            </span>
      </a>


<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Личный кабинет
</button>


<div class="modal fade" 
     id="staticBackdrop" 
     data-bs-backdrop="static" 
     data-bs-keyboard="false" 
     tabindex="-1" 
     aria-labelledby="staticBackdropLabel" 
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Личный кабинет</h1>
        <button type="button" 
                class="btn-close" 
                data-bs-dismiss="modal" 
                aria-label="Close">
          </button>
      </div>
      <div class="modal-body">
        Приносим свои извинения, страница находится в разработке!
      </div>
      <div class="modal-footer">
        <button type="button" 
                class="btn btn-secondary" 
                data-bs-dismiss="modal">
                Закрыть
          </button>
      </div>
    </div>
  </div>
</div>
      
  </div>
</div>

