{% load static %}

<nav class="navbar navbar-light bg-light">
  <div class="container d-flex ">
    <span class="navbar-text">
      <div class="topline-center">
        Мы открыты в пн-пт 8<sup>00</sup>-18<sup>00</sup>, 
        в субботу — 9<sup>00</sup>-16<sup>00</sup>. 
        Воскресенье — выходной день. 
      </div>
    </span>
  </div>
</nav>

<div class="container">
<header class="p-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" 
         class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'icon.png' %}" 
             alt="" 
             width="50" 
             height="50" 
             class="d-inline-block align-text-top">
             &nbsp;
             &nbsp;
            <span class="fs-4">МедикаФарм
              <p class="h6 text-muted">Медицинский центр</p>
            </span>
      </a>

        <ul class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <a href="/" 
         class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'telephone.png' %}" 
             alt="" 
             width="20" 
             height="20" 
             class="d-inline-block align-text-top">
             &nbsp;
             &nbsp;
            <span class="h6 text-muted">Для физических лиц: <br>
              8 800 800-80-80
            </span>
      </a>
      <a href="/" 
         class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'telephone.png' %}" 
             alt="" 
             width="20" 
             height="20" 
             class="d-inline-block align-text-top">
             &nbsp;
             &nbsp;
             <span class="h6 text-muted">Для корпоративных клиентов: <br>
              8 800 800-80-80
            </span>
      </a>
    </ul>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <a href="/" 
         class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'map.png' %}" 
             alt="" 
             width="30" 
             height="30" 
             class="d-inline-block align-text-top">
             &nbsp;
             &nbsp;
            <span class="h6 text-muted">Москва, м. Павелецкая <br>
              1-й Кожевнический пер. дом 8
            </span>
      </a>
    </ul>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
      <input type="search" 
             class="form-control form-control-dark" 
             placeholder="Поиск..." 
             aria-label="Поиск">
    </form>

        
              </div>
            </div>
  </header>
</div>


<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light justify-content-center border-bottom border-top">
      
      <button class="navbar-toggler" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarNavDropdown" 
              aria-controls="navbarNavDropdown" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
               href="#" 
               id="menu1" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
              О клинике
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu1">
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
               href="#" 
               id="menu2" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
              Услуги
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu2">
              <li><a class="dropdown-item" href="#">1Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
               href="#" 
               id="menu3" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
              Врачи
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu3">
              <li><a class="dropdown-item" href="#">2Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
               href="#" 
               id="menu4" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
              Профосмотры
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu4">
              <li><a class="dropdown-item" href="#">3Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
               href="#" 
               id="menu5" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
              Медкнижки
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu5">
              <li><a class="dropdown-item" href="#">4Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
               href="#" 
               id="menu6" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
              Цены
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu6">
              <li><a class="dropdown-item" href="#">5Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
               href="#" 
               id="menu7" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
              Контакты
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu7">
              <li><a class="dropdown-item" href="#">6Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="btn btn-danger dropdown-toggle" 
               href="#" 
               id="menu8" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
              Акции
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu8">
              <li><a class="dropdown-item" href="#">7Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
            </ul>
          </li>
          &nbsp;
          &nbsp;
          <li class="nav-item dropdown">
            <button type="button" 
                    class="btn btn-primary"
                    data-bs-toggle="modal" 
                    data-bs-target="#exampleModal">
                    Личный кабинет
            </button>
      
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Личный кабинет</h5>
                      <button type="button" 
                              class="btn-close" 
                              data-bs-dismiss="modal" 
                              aria-label="Close">
                       </button>
                     </div>
                     <div class="modal-body text-start">
                       Приносим свои извинения, страница пока находится в разработке
                      </div>
                      <div class="modal-footer">
                      <button type="button" 
                              class="btn btn-secondary" 
                              data-bs-dismiss="modal">
                              Закрыть
                       </button>
            </li>
                  
      </div>
    
  </nav>

</div>
