{% load static %}

<nav class="navbar navbar-expand-lg sticky-top bg-white navbar-light">
    <div class="container-fluid justify-content-center">
      <button class="navbar-toggler" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarNavDropdown" 
              aria-controls="navbarNavDropdown" 
              aria-expanded="true" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
               href="/" 
               id="menu1" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="true">
               &nbsp;&nbsp;О клинике
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu1">
              <li><a class="dropdown-item" href="#">Статьи</a></li>
              <li><a class="dropdown-item" href="#">Вопросы врачам</a></li>
              <li><a class="dropdown-item" href="#">Коллектив</a></li>
              <li><a class="dropdown-item" href="#">Вакансии</a></li>
              <li><a class="dropdown-item" href="#">Фотогалерея</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
               href="#" 
               id="menu2" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
               &nbsp;&nbsp;Услуги
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu2">
              <li><a class="dropdown-item" href="{% url 'services:ultrasound' %}">УЗИ</a></li>
              <li><a class="dropdown-item" href="{% url 'services:rentgen' %}">Рентген</a></li>
              <li><a class="dropdown-item" href="{% url 'services:analisi' %}">Анализы</a></li>
              <li><a class="dropdown-item" href="{% url 'services:fluromobil' %}">Аренда флюоромобиля</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
               href="#" 
               id="menu3" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
               &nbsp;&nbsp;Врачи
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu3">
              <li><a class="dropdown-item" href="#">2Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
               href="#" 
               id="menu4" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
               &nbsp;&nbsp;Профосмотры
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu4">
              <li><a class="dropdown-item" href="#">3Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
              <li><a class="dropdown-item" href="#">Второе меню</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
               href="#" 
               id="menu10" 
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">
               &nbsp;&nbsp;Справки
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu10">
              <li><a class="dropdown-item" href="{% url 'spravki:gibdd' %}">ГИБДД (ГАИ) 003-В/у</a></li>
              <li><a class="dropdown-item" href="{% url 'spravki:gims' %}">Управление судами (ГИМС)</a></li>
              <li><a class="dropdown-item" href="{% url 'spravki:gsy' %}">Госслужба 001-ГС/у</a></li>
              <li><a class="dropdown-item" href="{% url 'spravki:gstayna' %}">Гостайна 989н</a></li>
              <li><a class="dropdown-item" href="{% url 'spravki:spravki_086' %}">Справка 086/у</a></li>
              <li><a class="dropdown-item" href="{% url 'spravki:student_095' %}">Справка 095/у (студентам)</a></li>
              <li><a class="dropdown-item" href="{% url 'spravki:spravki_sport' %}">Справка для спорта</a></li>
              <li><a class="dropdown-item" href="{% url 'spravki:spravki_travel' %}">Справка для поездок</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-blak">Медкнижки</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-blak">Цены</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-blak">Контакты&nbsp;&nbsp;</a>
          <li class="nav-item">
            <a class="btn btn-danger" href="#" role="button">Акции</a> 
          &nbsp;
           &nbsp;
          <li>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Поиск..." aria-label="Поиск">
              <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form> 
          </li>                  
      </div>
    </div>
  </nav>