{% load static %}

<!DOCTYPE html> 
<html lang="ru">          
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'media/logo.png' %}" type="image">
    <link href="{% static '/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/dist/css/myBtn.css' %}" rel="stylesheet">

    <title>
    {% block title %}
    {% endblock %}
    </title> 

  </head>
  <body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Наверх</button>

    <header>
      {% include 'includes/header.html' %}
    </header>

    {% include 'includes/menu.html' %}

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer> 
      {% include 'includes/footer.html' %} 
    </footer> 

    <script src="{% static '/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/dist/js/myBtn.js' %}"></script>

  </body>
</html>
